<section class="pt-3">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h3 class="text-center mb-4 text-secondary"> مرحبا بعودتك<span class="text-info"> ...</span></h3>
       <h4 class="text-secondary pb-1">قم بتسجيل <span  class="text-info">الدخول</span>:</h4>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">البريد الالكتروني</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">كلمة المرور</label>
        </div>

        <button type="submit" class="btn btn-info text-white w-100">تسجيل الدخول</button>
        <p class="text-center mt-3">لا تمتلك حسابًا؟<a class="text-info"> أنشئ حسابًا الآن</a></p>
      </div>
      <div class="col-md-4">
<div class="d-flex align-content-center h-100">
  <img src="registerPhoto.svg" alt="registerSitePhoto" class="img-fluid  ">
</div>
      </div>
    </div>
  </div>
</section>
