<section class="pt-3 mt-md-5">
  <div class="container">
    <h3 class="text-center dark-text mb-4 text-secondary fw-bolder" data-aos="fade-down" data-aos-duration="1000">
      {{"login.WelcomeBack"|translate}}</h3>
    <div class="row">
      <div class="col-md-8 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1000">
        <h4 class="text-info pb-1" [ngClass]="{'text-right': isRtl, 'text-left': !isRtl}">{{"login.login"|translate}}
        </h4>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <div class="form-floating mb-3">
            <input [ngClass]="{
          'is-valid': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) ,
          'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
        }" type="email" class="form-control" id="floatingEmaill" placeholder="name@example.com"
              formControlName="email">
            @if (loginForm.get('email')?.errors &&(loginForm.get('email')?.touched || loginForm.get('email')?.dirty) ) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (loginForm.get('email')?.getError('required') ) {
              <p class="m-0">{{"login.emailErrorReq"|translate}}</p>
              }
              @if (loginForm.get('email')?.getError('email')) {
              <p class="m-0">{{"login.emailErrorVal"|translate}}</p>
              }
            </div>
            }
            <label for="floatingEmaill">{{"login.email"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
          'is-valid': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) ,
          'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
        }" type="password" class="form-control" id="floatingPasswordd" placeholder="Password"
              formControlName="password">
            @if (loginForm.get('password')?.errors && (loginForm.get('password')?.touched ||
            loginForm.get('password')?.dirty)) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (loginForm.get('password')?.getError('required') ) {
              <p class="m-0">{{"login.passwordErrorReq"|translate}}</p>
              }@else if (loginForm.get('password')?.getError('minlength')) {
              <p class="m-0">{{"login.passwordErrorMor"|translate}}</p>
              }@else if (loginForm.get('password')?.getError('maxlength')) {
              <p class="m-0">{{"login.passwordErrorLes"|translate}}</p>
              }

            </div>
            }
            <label for="floatingPasswordd">{{"login.password"|translate}}</label>
          </div>

          <button [disabled]="loginForm.invalid" type="submit"
            class="btn btn-info text-white w-100">{{"login.loginBtn"|translate}}
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }</button>
          @if(msgErr){
          <p class="alert alert-danger w-75 m-auto mt-3 text-center" style="direction:rtl">{{msgErr}}</p>
          }
          @if(msgSuccess){
          <p class="alert alert-info text-center w-50 m-auto mt-3 text-center" style="direction:rtl">
            {{"login.done"|translate}}</p>
          }
        </form>
        <p class="text-center mt-3">{{"login.donAccount"|translate}}<a class="text-info" routerLink="/Register">
            {{"login.CreateAccNow"|translate}}</a>
        </p>
        <p class="text-center mt-2">
          {{"login.forgotPassword"|translate}}
          <a class="text-info" routerLink="/forgot-password">{{"login.resetNow"|translate}}</a>
        </p>
        <div class="d-flex justify-content-center">
          <app-login></app-login>
        </div>
      </div>
      <div class="col-md-4 my-3 order-1 order-lg-2" data-aos="fade-left" data-aos-duration="1000">
        <div class="d-flex align-content-center h-100">
          <img src="./images/registerPhoto.svg" alt="registerSitePhoto" class="img-fluid  ">
        </div>
      </div>
    </div>
  </div>
</section>
