<!-- Start Chain Pharmacies Show -->
<div class="container col-md-6" data-aos="fade-up" data-aos-duration="1000">
  <h5 class="text-center fw-bold my-4 head-title dark-text">{{ 'adminPanel.branches' | translate }} {{ ChainPharmacies.title }}
  </h5>
</div>
<div class="container" data-aos="fade-down" data-aos-duration="1000">
  <div class="row">
    @for (item of PharmaciesOfChain; track $index) {
    <div class="col-md-4">
      <div class="card bg-dark-el dark-text shadow p-3 border border-0">
        <div class="card-image">
          <img [src]="item.image" alt="Image Of Pharmacy" class="w-100">
        </div>
        <div class="card-body py-3 text-center">
          <h6>{{ 'adminPanel.title' | translate }} : {{ item.title }}</h6>
          <hr />
          <h6>{{ 'adminPanel.address' | translate }} : {{ item.city }} - {{ item.area }}</h6>
          <hr />
          <h6>{{ 'adminPanel.phone' | translate }} : {{ item.phone }}</h6>
          <hr />
          @if (item.deliveryOption == 1 ) {
          <h6>{{ 'adminPanel.deliveryOptionAvailable' | translate }}</h6>
          }@else {
          <h6>{{ 'adminPanel.deliveryOptionNotAvaliable' | translate }}</h6>
          }
          <hr />
          @if (item.insurence == 1 ) {
          <h6>{{ 'adminPanel.insuranceAvailable' | translate }}</h6>
          }@else {
          <h6>{{ 'adminPanel.insuranceNotAvailable' | translate }}</h6>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
<!-- End Chain Pharmacies Show -->
