<!-- Start DoctorOffer Show -->
<div class="container mt-4">
  <p-toast />
  <!-- Carousel -->
  <p-carousel class="py-5" [value]="DoctorOfferImages" [numVisible]="3" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-image pTemplate="item">
      <div class="border shadow-sm m-2 carousel">
        <img [src]="image.image" class="d-block mx-auto" />
        <div class="icons">
          <a routerLink="/doctor-mediCare-1245/edit-doctor-offer-image/{{ image.id }}" title="Edit"><i
              class="bi bi-pen text-warning"></i></a>
          <a (click)="deleteImageOffer(image.id)" title="Delete"><i class="bi bi-trash text-danger"></i></a>
        </div>
      </div>
    </ng-template>
  </p-carousel>
<div [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
  <a routerLink="/doctor-mediCare-1245/add-doctor-offer-image"
  class="btn btn-info text-light d-inline-block ms-auto">{{'doctorPanel.addImageOff' |translate}}
</a>
</div>
  <!-- Offer Details -->
  <div class="card bg-dark-el border-0 shadow p-4 mt-3" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
    <div class="doctor-info">
      <img [src]="Doctor.image" alt="Doctor Image" />
      <div>
        <h5 class="dark-text ">د/ {{ Doctor.fName }} {{ Doctor.lName }}</h5>
        <p class="text-muted m-0 dark-text ">{{ Doctor.phone }}</p>
      </div>
    </div>
    <hr>
    <h3 class="info-text">{{'doctorPanel.title' | translate}}: <span class="dark-text">{{ DoctorOffer.title }}</span></h3>
    <hr>
    <h5 class="info-text">{{'doctorPanel.offerInformation' | translate}}:<span class="dark-text">{{ DoctorOffer.info_about_offer }}</span></h5>
    <hr>
    <h5 class="dark-text">{{'doctorPanel.details' | translate}}:{{ DoctorOffer.details }}</h5>
    <hr>
    <h5 class="dark-text">{{'doctorPanel.durationDate'| translate}}: {{'doctorPanel.from' | translate}} {{ DoctorOffer.from_day }} {{'doctorPanel.to' | translate}} {{ DoctorOffer.to_day }}</h5>
    <hr>
    <h5>
      <span class="del-price">{{ DoctorOffer.price_before_discount | currency: 'EGP' }}</span>
      <span class="discount-price">{{ DoctorOffer.price_before_discount | discount: DoctorOffer.discount | currency:
        'EGP' }}</span>
    </h5>
  </div>
  <!-- Back Button -->
  <div class="d-inline-block mt-3">
    <button (click)="back()" class="btn btn-outline-info">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>
</div>
<!-- End DoctorOffer Show -->
