.toggle-sidebar-btn {
  cursor: pointer;
}
.nav-icon {
  position: relative;
}

.badge-number {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
}

.notifications {
  width: 350px;
  max-height: 400px;
  overflow-y: auto;
}

.notifications .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.notifications .dropdown-item:hover {
  background-color: #f8f9fa;
}
/* تعطيل الإشعار عند قراءته */
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.notifications .dropdown-item:hover {
  background-color: #f8f9fa;
}
