<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/doctor-mediCare-1245" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">MediCare Doctor</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
    

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-danger badge-number" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            لديك {{ unreadCount }} إشعار جديد
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li *ngFor="let notification of notifications">
            <a class="dropdown-item d-flex align-items-center" (click)="showModal(notification)"
              [ngClass]="{'disabled': notification.read_at}">
              <div class="me-3">
                <i class="bi bi-calendar-check text-success"></i>
              </div>
              <div>
                <p class="fw-bold mb-1">{{ notification.data.message }}</p>
                <small class="text-muted">المريض: {{ notification.data.user_name }}</small><br>
                <small class="text-muted">الهاتف: {{ notification.data.user_phone }}</small><br>
                <small class="text-muted">اليوم: {{ notification.data.appointment_day }}</small><br>
                <small class="text-muted">الموعد: {{ notification.data.start_appointment | timeFormat }} - {{
                  notification.data.end_appointment | timeFormat }}</small>
              </div>
              <button class="btn btn-sm btn-light ms-3" *ngIf="!notification.read_at"
                (click)="makeNotificationReaded(notification.id)">
                تحديد كمقروء
              </button>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img [src]="doctor.image" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Dr . {{ doctor.fName }} {{ doctor.lName }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ doctor.fName }} {{ doctor.lName }}</h6>
            <span>{{ doctor.title }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" (click)="logOut()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Log Out</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>


<div *ngIf="isModalOpen" class="modal fade show" tabindex="-1" aria-labelledby="notificationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationModalLabel">تفاصيل الإشعار</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p><strong>الرسالة:</strong> {{ selectedNotification?.data.message }}</p>
        <p><strong>المريض:</strong> {{ selectedNotification?.data.user_name }}</p>
        <p><strong>الهاتف:</strong> {{ selectedNotification?.data.user_phone }}</p>
        <p><strong>العنوان:</strong> {{ selectedNotification?.data.user_address }}</p>
        <p><strong>اليوم:</strong> {{ selectedNotification?.data.appointment_day }}</p>
        <p><strong>الموعد:</strong> {{ selectedNotification?.data.start_appointment | timeFormat }} - {{
          selectedNotification?.data.end_appointment | timeFormat}}</p>
        <p><strong>مدة الموعد:</strong> {{ selectedNotification?.data.duration_appointment }} دقيقة</p>
      </div>
    </div>
  </div>
</div>
