<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/doctor-mediCare-1245" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">MediCare Doctor</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <!-- Select Language -->
      <li class="nav-item dropdown text-center mx-2">
        <a class="nav-link dropdown-toggle d-flex align-items-center gap-1 fw-bold text-info" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ selectedIcon }}" width="20px" height="20px">
          <span>{{ selectedLang }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-3">
          <li>
            <a class="dropdown-item d-flex align-items-center gap-1 lang-item" (click)="change('en')">
              <img src="./americanFlag.png" alt="" width="20px" height="20px"> <span>English</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center gap-1 lang-item" (click)="change('ar')">
              <img src="./egyptFlag.png" alt="" width="20px" height="20px"> <span>العربية</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-danger badge-number" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            لديك {{ unreadCount }} إشعار جديد
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li *ngFor="let notification of notifications">
            <a class="dropdown-item d-flex align-items-center"
              routerLink="/doctor-mediCare-1245/user-reservation/{{  notification.data.reservation_id }}"
              [ngClass]="{'disabled': notification.read_at}">
              <div class="me-3">
                <i class="bi bi-calendar-check text-success"></i>
              </div>
              <div>
                <p class="fw-bold mb-1">{{ notification.data.message }}</p>
                <small class="text-muted">المريض: {{ notification.data.user_name }}</small><br>
                <small class="text-muted">الهاتف: {{ notification.data.user_phone }}</small><br>
                <small class="text-muted">اليوم: {{ notification.data.appointment_day }}</small><br>
                <small class="text-muted">الموعد: {{ notification.data.start_appointment | timeFormat }} - {{
                  notification.data.end_appointment | timeFormat }}</small>
              </div>
              <button class="btn btn-sm btn-light ms-3" *ngIf="!notification.read_at"
                (click)="makeNotificationReaded(notification.id)">
                تحديد كمقروء
              </button>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img [src]="doctor.image" width="50px" height="50px" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Dr . {{ doctor.fName }} {{ doctor.lName }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ doctor.fName }} {{ doctor.lName }}</h6>
            <span>{{ doctor.title }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <i class="bi bi-box-arrow-right"></i>
              <span>Log Out</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</header>
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/doctor-mediCare-1245" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">MediCare Doctor</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <!-- Select Language -->
      <li class="nav-item dropdown text-center mx-2">
        <a class="nav-link dropdown-toggle d-flex align-items-center gap-1 fw-bold text-info" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ selectedIcon }}" width="20px" height="20px">
          <span>{{ selectedLang }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-3">
          <li>
            <a class="dropdown-item d-flex align-items-center gap-1 lang-item" (click)="change('en')">
              <img src="./americanFlag.png" alt="" width="20px" height="20px"> <span>English</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center gap-1 lang-item" (click)="change('ar')">
              <img src="./egyptFlag.png" alt="" width="20px" height="20px"> <span>العربية</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-danger badge-number" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            {{ unreadCount }} {{ 'doctorPanel.haveNotifications' | translate }}
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li *ngFor="let notification of notifications">
            <a class="dropdown-item d-flex align-items-center"
              routerLink="/doctor-mediCare-1245/user-reservation/{{  notification.data.reservation_id }}"
              [ngClass]="{'disabled': notification.read_at}">
              <div class="me-3">
                <i class="bi bi-calendar-check text-success"></i>
              </div>
              <div>
                <p class="fw-bold mb-1">{{ notification.data.message }}</p>
                <small class="text-muted">المريض: {{ notification.data.user_name }}</small><br>
                <small class="text-muted">الهاتف: {{ notification.data.user_phone }}</small><br>
                <small class="text-muted">اليوم: {{ notification.data.appointment_day }}</small><br>
                <small class="text-muted">الموعد: {{ notification.data.start_appointment | timeFormat }} - {{
                  notification.data.end_appointment | timeFormat }}</small>
              </div>
              <button class="btn btn-sm btn-light ms-3" *ngIf="!notification.read_at"
                (click)="makeNotificationReaded(notification.id)">
                تحديد كمقروء
              </button>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img [src]="doctor.image" width="50px" height="50px" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Dr . {{ doctor.fName }} {{ doctor.lName }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ doctor.fName }} {{ doctor.lName }}</h6>
            <span>{{ doctor.title }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <i class="bi bi-box-arrow-right"></i>
              <span>{{ 'doctorPanel.logout' | translate }}</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</header>
<!-- Modal Of Logout -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="head-title" style="direction:rtl">انت علي وشك المغادرة</h3>
        <img src="./sad.png" alt="" class="img-fluid">
      </div>
      <div class="modal-footer border border-0 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">سأبقي</button>
        <button type="button" class="btn btn-info text-light" data-bs-dismiss="modal" (click)="logOut()">{{
          'doctorPanel.logout' | translate
          }}</button>
      </div>
    </div>
  </div>
</div>