<!-- Start DoctorAppointment Show -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Appointment Card -->
      <div class="card border shadow-lg p-4 mb-4" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}"
        [ngClass]="{'card-muted': DoctorAppointment.is_booked}">
        <h3 class="card-title text-center mb-3">{{ 'doctorPanel.appointmentDetails' | translate }}</h3>
        <div class="card-body">
          <!-- Day -->
          <div class="mb-3">
            <strong>{{ 'doctorPanel.day' | translate }}:</strong>
            {{ DoctorAppointment.day }}
          </div>
          <hr>
          <!-- Start Time -->
          <div class="mb-3">
            <strong>{{ 'doctorPanel.startAt' | translate }}:</strong>
            {{ DoctorAppointment.start_at }}
          </div>
          <hr>
          <!-- End Time -->
          <div class="mb-3">
            <strong>{{ 'doctorPanel.endAt' | translate }}:</strong>
            {{ DoctorAppointment.end_at }}
          </div>
          <hr>
          <!-- Clinic Information -->
          <div class="mb-3">
            <strong>{{ 'doctorPanel.clinic' | translate }}:</strong>
            {{ ClinciDoctor.title }}
          </div>
          <div class="mb-3">
            <strong>{{ 'doctorPanel.description' | translate }}:</strong>
            {{ ClinciDoctor.description }}
          </div>
          <div class="mb-3">
            <strong>{{ 'doctorPanel.address' | translate }}:</strong>
            {{ ClinciDoctor.address }}
          </div>
          <div class="mb-3">
            <strong>{{ 'doctorPanel.phone' | translate }}:</strong>
            {{ ClinciDoctor.phone }}
          </div>
          <div class="mb-3">
            <strong>{{ 'doctorPanel.location' | translate }}:</strong>
            <a href="{{ClinciDoctor.locationUrl }}" target="_blank">
              {{ 'doctorPanel.location' | translate }}
            </a>
          </div>
          @if(DoctorAppointment.is_booked){
          <div class="mb-3">
            <div class="alert alert-info text-center fw-bold">تم حجز الموعد</div>
          </div>
          }
        </div>
      </div>
      <!-- Back Button -->
      <div class="text-center">
        <button (click)="back()" class="btn btn-outline-primary">
          <i class="bi bi-arrow-left"></i> {{ 'doctorPanel.back' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End DoctorAppointment Show -->
