.head-title::before {
  background-color: var(--main-color);
}

.container {
  direction: rtl;
}

.doctor-card {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-header {
  border-bottom-left-radius: 50px;
}


.card {
  border-radius: 10px;
  overflow: hidden;
}



.doctor-service,
.doctor-date,
.card-text {
  margin: 0;
}

.badge {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
}

.alert {
  font-size: 1rem;
}

button, a {
  flex: 1;
  text-align: center;
}

.card-body{
  padding-top: 20px !important;
}
.card-body p {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--arabic-font);
}
