<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-start align-items-start flex-column">
        <div class="my-3" role="group" aria-label="Tabs">
          <button type="button" class="btn text-light me-3" [ngClass]="{
                'btn-info': activeTab === 'doctors',
                'btn-secondary': activeTab !== 'doctors'
              }" (click)="setActiveTab('doctors')">
            Doctors
          </button>
          <button type="button" class="btn text-light  me-3" [ngClass]="{
                'btn-info': activeTab === 'hospitals',
                'btn-secondary': activeTab !== 'hospitals'
              }" (click)="setActiveTab('hospitals')">
            Hospitals
          </button>
          <button type="button" class="btn text-light  me-3" [ngClass]="{
                'btn-info': activeTab === 'carecenters',
                'btn-secondary': activeTab !== 'carecenters'
              }" (click)="setActiveTab('carecenters')">
            Care Centers
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  @if(activeTab === 'doctors'){
  <div class="row">
    @for (item of Doctors; track $index) {
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img [src]="item.image" class="card-img-top" alt="Doctor Image" />
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title">{{ item.fName }} {{ item.lName }}</h5>
          <p class="card-text">{{ item.title }}</p>
          <a routerLink="/details/doctor/{{ item.id }}" class="btn btn-info text-light">More Info</a>
        </div>
      </div>
    </div>
    }
  </div>
  }
  @if (activeTab === 'hospitals') {
  <div class="row">
    @for (item of Hospitals; track $index) {
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img [src]="item.image" class="card-img-top" alt="Hospital Image" />
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.service }}</p>
          <p class="card-text">سعر الكشف : {{ item.pivot.app_price }}</p>
          <p class="card-text">يبدأ : {{ item.pivot.start_at | date:'short' }}</p>
          <p class="card-text">ينتهي : {{ item.pivot.end_at | date:'short' }}</p>
          <a routerLink="hospital/{{ item.id }}" class="btn btn-info text-light">More Info</a>
        </div>
      </div>
    </div>
    }
  </div>
  }
  @if (activeTab === 'carecenters') {
  <div class="row">
    @for (item of CareCenters; track $index) {
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img [src]="item.image" class="card-img-top" alt="Care Center Image" />
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.service }}</p>
          <p class="card-text">سعر الكشف : {{ item.pivot.app_price }}</p>
          <p class="card-text">يبدأ : {{ item.pivot.start_at | date:'short' }}</p>
          <p class="card-text">ينتهي : {{ item.pivot.end_at | date:'short' }}</p>
          <a routerLink="care_center/{{ item.id }}" class="btn btn-info text-light">More Info</a>
        </div>
      </div>
    </div>
    }
  </div>
  }
  <div>
    <button (click)="prevDoctorPage()" class="btn btn-outline-info" [disabled]="currentDoctorPage === 1">الصفحة
      السابقة</button>
    <span>الصفحة {{ currentDoctorPage }} من {{ totalDoctorPages }}</span>
    <button (click)="nextDoctorPage()" class="btn btn-outline-info"
      [disabled]="currentDoctorPage === totalDoctorPages">الصفحة
      التالية</button>
  </div>
</div>


<!-- tip Section -->
<section id="tip" class="tip section">
  <div class="container section-title text-end">
    <h4>اعرف اكثر عن تخصص {{ department.title }}</h4>
  </div>
  <div class="container my-3" style="direction: rtl;">
    @for (item of Tips; track $index) {
    <div class="row tip-item">
      <div class="col-lg-5 d-flex">
        <i class="bi bi-question-circle"></i>
        <h4>{{ item.question }}</h4>
      </div>
      <div class="col-lg-7">
        <p>
          {{ item.answer }}
        </p>
      </div>
    </div>
    }
  </div>
</section>
<!-- tip Section -->