<div class="container py-4">
  <p-toast />
  @if (isFetching()) {
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  } @else {
  <div class="row my-2" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-md-4 order-2 order-md-1">
      <div class="card bg-dark-el card-info border border-0 shadow">
        <div class="card-header bg-info py-3 d-flex justify-content-start align-items-center">
          <h3 class="dark-text">
            <i class="fa-solid fa-location-pin"></i>
            {{ pharmacy.area }} - {{ pharmacy.city }}
          </h3>
        </div>
        <button class="btn btn-outline-info my-3 mx-auto d-block rounded-3"
          (click)="showInMap(pharmacy.locationUrl)">خريطة الوصول
          <i class="fa-solid fa-map-location-dot"></i></button>
        <div class="more-info">
          <p class="pharmacy-phone dark-text">
            <a href="tel:{{ pharmacy.phone }}"><i class="fa-solid fa-phone-flip text-info"></i></a>
            {{ pharmacy.phone }}
          </p>
          <p class="pharmacy-whatsapp dark-text">
            <a href="{{ pharmacy.whatsappLink }}"><i class="fa-brands fa-whatsapp text-success"></i>

            </a>
            الواتساب لتواصل
          </p>
          <p class="pharmacy-whatsapp dark-text">
            تمت الإضافة بتاريخ : {{ pharmacy.created_at | date:'yyyy-MM-dd'}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8 order-1 order-md-2">
      <div class="card bg-dark-el pharmacy-card shadow-lg border-0">
        <div class="pharmacy-image">
          <img [src]="pharmacy.image ? pharmacy.image : './images/pharmacy.gif'"
            class="rounded-circle border border-3 border-info shadow" style="width: 100px; height: 100px;"
            alt="Pharmacy Image">
        </div>
        <div class="card-body">
          <h3 class="text-center fw-bold dark-text">{{ pharmacy.title }}</h3>
          <p class="pharmacy-service dark-text"> <span class="fw-bold">
              يوجد في الصيدلية
            </span> : {{ pharmacy.service }}</p>
          <p class="pharmacy-date dark-text">
            <span class="fw-bold dark-text">مواعيد العمل : </span>
            <i class="fa-solid fa-clock text-info"></i>
            {{ pharmacy.start_at | timeFormat }} {{"details.to" | translate}}
            {{ pharmacy.end_at | timeFormat}}
          </p>
          <div class="d-flex justify-content-center">
            <p class="pharmacy-delivery px-2">
              <!-- <span class="fw-bold"> خدمة التوصيل : </span> -->
              @if (pharmacy.deliveryOption === 1) {
              <span class="delivery m-0 pb-1">
                <i class="fa-solid fa-motorcycle fs-6"></i>
                {{"Pharmacies.delivery" | translate}}
              </span>
              }@else{
              <span class="notAvaliabledelivery m-0 pb-1">
                <i class="fa-solid fa-motorcycle fs-6"></i>
                التوصيل غير متاحة
              </span>
              }
            </p>
            <p class="pharmacy-insurence">
              <!-- <span class="fw-bold"> خدمة التأمين : </span> -->
              @if (pharmacy.insurence === 1) {
              <span class="insurence m-0 pb-1">
                <i class="bi bi-shield-check fs-6"></i>
                {{"Pharmacies.insurance" | translate}}
              </span>
              }@else{
              <span class="notAvaliableinsurence m-0 pb-1">
                <i class="fa-solid fa-xmark fs-6"></i>
                التأمين غير متاح
              </span>
              }
            </p>
          </div>
          <div class="companies-wrapper dark-text mx-auto">
            <div class="companies-grid">
              @for(item of insuranceCompanies; track $index) {
              <div class="company-item text-center">
                <img src="{{ item.logo }}" width="45" height="45" class="rounded-circle mb-1" alt="">
                <span class="d-block small-text">{{ item.name }}</span>
              </div>
              }
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-md-4 order-2 order-md-1">
      <div class="card bg-dark-el card-rating border border-0 shadow">
        <div class="card-header bg-info py-2 d-flex justify-content-start align-items-center rating-container"
          [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <p class="ratings m-0">{{"details.rating" | translate}} :</p>
          <div class="stars ms-2">
            <ng-container *ngFor="let star of getStarArray()">
              <i class="fa-solid fa-star text-warning"></i>
            </ng-container>
          </div>
        </div>

        <!-- عرض التقييمات -->
        <div class="ratings-container p-3">
          <h3 class="fw-bold dark-text">تقييمات {{ pharmacy.title }} </h3>
          <div *ngFor="let rating of ratesOfPharmacy"
            class="rating-card bg-dark-el dark-text p-2 shadow-sm rounded-3 my-2">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <i *ngFor="let star of [].constructor(rating.pivot.rating_value); let i = index"
                class="fa-solid fa-star text-warning me-1"></i>
              <span *ngIf="rating.pivot.rating_value < 5">
                <i *ngFor="let star of [].constructor(5 - rating.pivot.rating_value)"
                  class="fa-solid fa-star text-muted"></i>
              </span>
            </div>
            <p class="my-1"><strong>مراجعة :</strong> {{ rating.pivot.review }}</p>

            <p class="text-muted dark-text small p-0 my-1" style="font-size: 12px;">
              <i class="fa-solid fa-user"></i> {{ rating.name }}
            </p>
            <p class="text-muted small my-1 dark-text"><i class="fa-solid fa-clock"></i> {{ rating.pivot.created_at |
              date :
              "short" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 order-1 order-md-2">
      <div class="card bg-dark-el card-rating border border-0 shadow">
        <div class="card-header bg-dark-el text-info py-3 d-flex justify-content-start align-items-center">
          <h3 class="dark-text">
            قم بتقييم الصيدلية الآن :
          </h3>
        </div>
        <!-- إضافة مراجعة -->
        <div class="d-flex justify-content-start">
          <div class="review-section p-3">
            <button class="btn btn-outline-info w-100" (click)="toggleReviewInput()">
              <i class="fas fa-pencil-alt"></i> إضافة مراجعة
            </button>

            <div *ngIf="showReviewInput" class="mt-3">
              <form [formGroup]="reviewForm" (ngSubmit)="submitReview(reviewForm)">
                <div class="d-flex justify-content-center mb-2">
                  <ng-container *ngFor="let star of stars; let i = index">
                    <i class="fa-solid fa-star rating-star"
                      [class.filled]="i < (reviewForm.get('rating_value')?.value || 0)" (click)="setRating(i + 1)">
                    </i>
                  </ng-container>
                </div>

                <textarea formControlName="review" class="form-control mb-2" rows="3"
                  placeholder="اكتب مراجعتك هنا..."></textarea>
                <button type="submit" class="btn btn-info text-white w-100">إرسال المراجعة</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>