<!-- Start Editing Pharmacy -->
<div class="pagetitle" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
  <h1>{{ 'adminPanel.pharmacies_edit' | translate }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin-mediCare-1245">{{ 'adminPanel.dashboard' | translate }}</a></li>
      <li class="breadcrumb-item dark-text">{{ 'adminPanel.edit' | translate }}</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <p-toast />
      <div class="card bg-dark-el dark-text p-4">
        <div class="card-body">
          <form class="row" [formGroup]="editPharmacyForm" (ngSubmit)="editPharmacy(editPharmacyForm)" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
            <div class="row">
              <div class="col-md-4">
                <label for="title" class="form-label">{{ 'adminPanel.title' | translate }}</label>
                <input type="text" formControlName="title"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.title.touched && editPharmacyForm.controls.title.errors) }"
                  class="form-control" id="title">
              </div>
              <div class="col-md-4">
                <label for="service" class="form-label">{{ 'adminPanel.service' | translate }}</label>
                <input type="text" formControlName="service"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.service.touched && editPharmacyForm.controls.service.errors) }"
                  class="form-control" id="service">
              </div>
              <div class="col-md-4">
                <label for="phone" class="form-label">{{ 'adminPanel.phone' | translate }}</label>
                <input type="tel" formControlName="phone"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.phone.touched && editPharmacyForm.controls.phone.errors) }"
                  class="form-control" class="form-control" id="phone">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="area" class="form-label">{{ 'adminPanel.area' | translate }}</label>
                <input type="text" formControlName="area"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.area.touched && editPharmacyForm.controls.area.errors) }"
                  class="form-control" class="form-control" id="area">
              </div>
              <div class="col-md-4">
                <label for="city" class="form-label">{{ 'adminPanel.city' | translate }}</label>
                <input type="text" formControlName="city"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.city.touched && editPharmacyForm.controls.city.errors) }"
                  class="form-control" class="form-control" id="city">
              </div>
              <div class="col-md-4">
                <label for="locationUrl" class="form-label">{{ 'adminPanel.locationUrl' | translate }}</label>
                <input type="url" formControlName="locationUrl"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.locationUrl.touched && editPharmacyForm.controls.locationUrl.errors) }"
                  class="form-control" class="form-control" id="locationUrl">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="whatsappLink" class="form-label">{{ 'adminPanel.whatsappLink' | translate }}</label>
                <input type="url" formControlName="whatsappLink"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.whatsappLink.touched && editPharmacyForm.controls.whatsappLink.errors) }"
                  class="form-control" class="form-control" id="whatsappLink">
              </div>
              <div class="col-md-4">
                <label for="deliveryOption" class="form-label">{{ 'adminPanel.deliveryOption' | translate }}</label>
                <select name="deliveryOption" formControlName="deliveryOption"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.deliveryOption.touched && editPharmacyForm.controls.deliveryOption.errors) }"
                  id="deliveryOption" class="form-control">
                  <option value="1">{{ 'adminPanel.deliveryOptionAvailable' | translate }}</option>
                  <option value="0">{{ 'adminPanel.deliveryOptionNotAvaliable' | translate }}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="insurence" class="form-label">{{ 'adminPanel.insurenceOption' | translate }}</label>
                <select name="insurence" formControlName="insurence"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.insurence.touched && editPharmacyForm.controls.insurence.errors) }"
                  id="insurence" class="form-control">
                  <option value="1">{{ 'adminPanel.insuranceAvailable' | translate }}</option>
                  <option value="0">{{ 'adminPanel.insuranceNotAvailable' | translate }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="image" class="form-label">{{ 'adminPanel.image' | translate }}</label>
                <input type="text" formControlName="image"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.image.touched && editPharmacyForm.controls.image.errors) }"
                  class="form-control" class="form-control" id="image">
              </div>
              <div class="col-md-4">
                <label for="start_at" class="form-label">{{ 'adminPanel.startAt' | translate }}</label>
                <input type="time" formControlName="start_at" step="60"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.start_at.touched && editPharmacyForm.controls.start_at.errors) }"
                  class="form-control" id="start_at">
                </div>
              <div class="col-md-4">
                <label for="end_at" class="form-label">{{ 'adminPanel.endAt' | translate }}</label>
                <input type="time" formControlName="end_at"
                  [ngClass]="{'is-invalid':(editPharmacyForm.controls.end_at.touched && editPharmacyForm.controls.end_at.errors) }"
                  class="form-control" class="form-control" id="end_at">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="chain_pharmacy_id" class="form-label">{{ 'adminPanel.chain_pharmacies' | translate
                  }}</label>
                <select name="chain_pharmacy_id" formControlName="chain_pharmacy_id" [ngClass]="{
                          'is-invalid': (editPharmacyForm.controls.chain_pharmacy_id.touched &&
                          editPharmacyForm.controls.chain_pharmacy_id.errors)
                        }" id="chain_pharmacy_id" class="form-control">
                  <option value="">Not Belong To Chain</option>
                  <option *ngFor="let item of ChainsPharmacies" [value]="item.id">
                    {{ item.title }}
                  </option>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-2" [disabled]="editPharmacyForm.invalid">{{
                'adminPanel.submit' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Editing Pharmacy -->
