<section class="pt-3 mt-md-5">
  <div class="container">
    <h3 class="text-center mb-4 text-secondary fw-bolder">{{"resetPassword.title"|translate}}</h3>
    <div class="row">
      <div class="col-md-8 order-2 order-lg-1">
        <h4 class="text-info pb-1" [ngClass]="{'text-right': isRtl, 'text-left': !isRtl}">{{"resetPassword.reset"|translate}}</h4>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty),
              'is-invalid': resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)
            }" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" formControlName="email">
            @if (resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)) {
              <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
                @if (resetForm.get('email')?.getError('required')) {
                  <p class="m-0">{{"login.emailErrorReq"|translate}}</p>
                }
                @if (resetForm.get('email')?.getError('email')) {
                  <p class="m-0">{{"login.emailErrorVal"|translate}}</p>
                }
              </div>
            }
            <label for="floatingEmail">{{"login.email"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty),
              'is-invalid': resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)
            }" type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
            @if (resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)) {
              <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
                @if (resetForm.get('password')?.getError('required')) {
                  <p class="m-0">{{"login.passwordErrorReq"|translate}}</p>
                } @else if (resetForm.get('password')?.getError('minlength')) {
                  <p class="m-0">{{"resetPassword.passwordErrorMin"|translate}}</p>
                }
              </div>
            }
            <label for="floatingPassword">{{"resetPassword.newPassword"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !resetForm.get('passwordConfirmation')?.errors && (resetForm.get('passwordConfirmation')?.touched || resetForm.get('passwordConfirmation')?.dirty),
              'is-invalid': resetForm.get('passwordConfirmation')?.errors && (resetForm.get('passwordConfirmation')?.touched || resetForm.get('passwordConfirmation')?.dirty)
            }" type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password" formControlName="passwordConfirmation">
            @if (resetForm.get('passwordConfirmation')?.errors && (resetForm.get('passwordConfirmation')?.touched || resetForm.get('passwordConfirmation')?.dirty)) {
              <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
                @if (resetForm.get('passwordConfirmation')?.getError('required')) {
                  <p class="m-0">{{"resetPassword.confirmErrorReq"|translate}}</p>
                }
              </div>
            }
            <label for="floatingPasswordConfirm">{{"resetPassword.confirmPassword"|translate}}</label>
          </div>
          <button [disabled]="resetForm.invalid || !token" type="submit" class="btn btn-info text-white w-100">
            {{"resetPassword.submit"|translate}}
            @if (isLoading) {
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
          @if(msgErr) {
            <p class="alert alert-danger w-75 m-auto mt-3 text-center" style="direction:rtl">{{msgErr}}</p>
          }
          @if(msgSuccess) {
            <p class="alert alert-info text-center w-50 m-auto mt-3 text-center" style="direction:rtl">{{msgSuccess}}</p>
          }
        </form>
      </div>
      <div class="col-md-4 my-3 order-1 order-lg-2">
        <div class="d-flex align-content-center h-100">
          <img src="registerPhoto.svg" alt="resetPasswordPhoto" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
