<!-- Start Department Show -->
<div class="container my-4" data-aos="fade-down" data-aos-duration="1000">
  <div class="card text-center bg-dark-el item-card shadow border-0">
    <div class="item-image">
      <img [src]="department.icon" class="rounded-circle border border-3 border-info shadow"
        style="width: 100px; height: 100px;" alt="Department Image">
    </div>
    <div class="card-body ">
      <h3 class="text-center fs-5 fw-bold dark-text">{{ department.title}}</h3>
      <p class="item-service dark-text">{{ department.description }}</p>
    </div>
  </div>
</div>
<!-- End Department Show -->