<div class="container my-5 py-4">
  @if (isFetching()) {
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  } @else {
  <div class="row py-2">
    @for (item of deliveryServices; track $index) {
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
      <div class="card border-0 bg-dark-el shadow-lg rounded-4 overflow-hidden">
        <div class="card-header bg-info text-white text-center py-4" style="border-bottom-right-radius: 50px;">
          <i class="fa-solid fa-truck-fast fa-3x car-icon"></i>
          <h5 class="fw-bold mt-2" style="direction:rtl">{{ item.name }}</h5>
        </div>
        <div class="card-body bg-dark-el px-4 text-center">
          <p class="card-text pt-2 dark-text" style="direction:rtl">
            <i class="fa-solid fa-info-circle text-info px-1"></i>
            {{ item.description }}
          </p>
          <a [href]="item.app_link" class="btn btn-outline-info fw-bold w-100 rounded-pill shadow-sm mt-3"
            target="_blank">
            لينك التطبيق
          </a>
        </div>
      </div>
    </div>
    }@empty {
    <div class="not-found">
      <img src="./images/empty.png" alt="" class="img-not-found" />
      <h3 class="head-not-found">{{"notFound.notFoundPage"|translate }}</h3>
      <h6 class="head-not-found2">
        {{"notFound.notFoundPage2"|translate }}
      </h6>
    </div>
    }
  </div>
  }
</div>
