<section id="hero">
  <div class="container">
   <div class="row">
    <div class="col-md-8">
      <p-carousel class="hero-carsoual" [value]="Images" [numVisible]="1" [numScroll]="3" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-image pTemplate="item">
        <div class="relative mx-auto">
          <img [src]="image.imageUrl" class="w-100 h-100 rounded-border d-block mx-auto" />
        </div>
      </ng-template>
    </p-carousel>
    </div>
    <div class="col-md-4">
  <div>
    <img src="ai.svg" routerLink="/ask-ai" height="275px" class="w-100" alt="">
    <img src="blog.svg" height="275px" class="w-100" alt="">
  </div>
    </div>
   </div>
  </div>
</section>
