<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p-carousel class="hero-carsoual" [value]="Images" [numVisible]="1" [numScroll]="3" [circular]="false"
          [responsiveOptions]="responsiveOptions">
          <ng-template let-image pTemplate="item">
            <div class="relative mx-auto">
              <img [src]="image.imageUrl" class="w-100 h-100 rounded-border d-block mx-auto" />
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="col-md-5">
        <div>
          <div class="shadow p-3 my-4">
            <div class="row">
              <div class="col-md-6 order-2 order-lg-1 offset-md-1 d-flex justify-content-center align-items-center">
                <div>
                  <h4 class="text-info fw-bolder ">لديك سؤال طبي؟</h4>
                  <p class="fw-bolder text-muted">احصل علي اجابة في اسرع وقت.</p>
                  <button class="btn btn-outline-info d-block mx-auto" routerLink="/ask-ai">ابحث</button>
                </div>
              </div>
              <div class="col-md-5 order-1 order-lg-2 "><img src="ai.svg" height="200px" class="w-100" alt="ask_Ai">
              </div>
            </div>
          </div>
          <div class="shadow p-3 my-4">
            <div class="row">
              <div class="col-md-5 order-2 order-lg-1 offset-md-1 d-flex justify-content-center align-items-center">
                <div>
                  <h4 class="text-info fw-bold fs-4">نصيحة من دكتور MediCare</h4>
                  <button class="btn btn-outline-info d-block mx-auto">ابحث</button>
                </div>
              </div>
              <div class="col-md-6 order-1 order-lg-2 "><img src="blog.svg" height="190px" class="w-100" alt="blog">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
