<section id="hero">
  <div class="container">
   <div class="row">
    <div class="col-md-8">
      <p-carousel class="hero-carsoual" [value]="Images" [numVisible]="1" [numScroll]="3" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-image pTemplate="item">
        <div class="relative mx-auto">
          <img [src]="image.imageUrl" class="w-100 h-100 rounded-border d-block mx-auto" />
        </div>
      </ng-template>
    </p-carousel>
    </div>
    <div class="col-md-4">
  <div>
    <div class="shadow p-3">
      <div class="row">
        <div class="col-md-6 offset-md-1 d-flex justify-content-center align-items-center">
          <div>
           <h5 class="text-info fw-bolder ">لديك سؤال طبي؟</h5>
           <p class="fw-bolder text-muted">احصل علي اجابة في اسرع وقت</p>
           <button class="btn btn-outline-info" routerLink="/ask-ai">ابحث</button>
          </div>
         </div>
        <div class="col-md-5"><img src="ai.svg" height="250px"  class="w-100" alt="ask_Ai"> </div>
      </div>
    </div>
    <div class="shadow p-3">
      <div class="row">
        <div class="col-md-5 offset-md-1 d-flex justify-content-center align-items-center">
          <div >
           <h4>نصيحة من دكتورك</h4>
           <button class="btn btn-outline-info">ابحث</button>
          </div>
         </div>
        <div class="col-md-6"><img src="blog.svg" height="235px"  class="w-100" alt="blog"> </div>
      </div>
    </div>
  </div>
    </div>
   </div>
  </div>
</section>
