.hero-carousel .relative {
  height: 550px;
}
img,
.shadow {
  border-radius: 15px;
}

 .hero-carousel .p-carousel-indicator button {
  width: 13px;
  height: 13px;
  border-radius: 50% !important;
}
.hero-carousel .p-carousel-indicator-active button {
  background-color: var(--main-color) !important;
  box-shadow: 2px 2px 2px 2px #0d8ab080;
}
.hero-carousel .p-carousel-prev-button,
.hero-carousel .p-carousel-next-button {
  display: none !important;
}
#hero .shadow h4,
#hero .shadow p {
  direction: rtl;
  line-height: 38px;
}
