<div class="card-ai-services" data-aos="fade-up" data-aos-delay="500">
  <h2>رعاية صحية ذكية مع Medicare</h2>

  <p>1- <a routerLink="/ask-ai">تحليل الأعراض</a>
    نسمح للمستخدمين بتحليل أعراضهم الصحية عبر رفع صور أو وصف الأعراض التي يعانون منها. من خلال تقنيات الذكاء الاصطناعي
    المتقدمة، نقوم بتحليل المعلومات المقدمة وتقديم نتائج دقيقة تساعد المستخدم في فهم حالته الصحية بشكل أفضل.</p>

  <p>2- <a routerLink="/ask-ai">اقتراح التخصصات والدكاترة</a>
    بناءً على تحليل الأعراض، نقوم بتوجيه المستخدم إلى التخصص الطبي المناسب، بالإضافة إلى اقتراح قائمة من الأطباء
    المتخصصين في Medicare الذين يمكنهم تقديم الدعم الطبي اللازم.</p>

  <p>3- <a routerLink="/prescription-analyzer">تحليل الروشيتات الطبية</a>
    نساعد المستخدمين في فهم الوصفات الطبية التي يتلقونها من الأطباء من خلال تحليل الروشيتات الطبية بشكل دقيق لضمان أنهم
    يتبعون العلاج بشكل صحيح.</p>

  <p>4- <a routerLink="/laboratory-test-analyzer">تحليل نتائج التحاليل الطبية</a>
    نقدم خدمة تحليل نتائج التحاليل الطبية وتقديم استشارات دقيقة تساعد المرضى في فهم نتائجهم واتخاذ القرارات الطبية
    المناسبة.</p>
</div>
