<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/admin-mediCare-1245" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">MediCare Admin </span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <!-- Add Doctor  -->
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" title="Doctor" data-bs-toggle="dropdown">
          <i class="fas fa-user-md"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow doctors">
          <li class="doctor-item">
            <a routerLink="doctors"><span class="badge fs-6 d-inline-block mx-auto rounded-pill bg-info p-2">List All
                Doctors
              </span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="doctor-item">
            <a routerLink="add_doctor"><span class="badge fs-6 d-inline-block mx-auto rounded-pill bg-info p-2">Add New
                Doctor</span></a>
          </li>


        </ul>

      </li>
      <!-- Admin Profile -->
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{ Admin.name }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ Admin.name }}</h6>
            <span>{{ Admin.phone }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" (click)="logOut()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Log Out</span>
            </button>
          </li>

        </ul>
      </li>
    </ul>
  </nav>
</header><!-- End Header -->