<!-- Start Hospital Show -->
<div class="container ">
  <div class="row my-4">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <div class="card bg-dark-el border border-0 shadow p-5">
        <img [src]="hospital.image ? hospital.image : './images/hospital.gif'" class="w-100" alt="hospital Image">
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="card bg-dark-el dark-text border border-0 shadow p-4">
        <h3 class="fs-4">{{ 'adminPanel.title' | translate }} : <span>{{ hospital.title}}</span></h3>
        <hr>
        <h5>{{ 'adminPanel.service' | translate }} : <span>{{ hospital.service }}</span></h5>
        <hr>
        <h5>{{ 'adminPanel.phone' | translate }} : <a href="tel:{{ hospital.phone }}">{{ hospital.phone }}</a></h5>
        <hr>
        <h5>{{ 'adminPanel.address' | translate }} : {{ hospital.address }}</h5>
        <hr>
        <h5>{{ 'adminPanel.locationInMap' | translate }} : <a (click)="showInMap(hospital.locationUrl)"><i
              class="bi bi-geo-alt text-warning"></i></a></h5>
      </div>

    </div>
  </div>
  <div class="row">
    @for (item of departmentsOfHospital; track $index) {
    <div class="col-md-4">
      <div class="card bg-dark-el dark-text departmentHospital shadow p-3 text-center">
        <a class="btn btn-light btn-update"
          routerLink="/admin-mediCare-1245/edit_department_hospital/{{ item.pivot.department_id }}/{{ item.pivot.hospital_id }}"><i
            class="bi bi-pen"></i></a>
        <h6>{{ 'adminPanel.department' | translate }} : {{ item.title }}</h6>
        <hr>
        <h6>{{ 'adminPanel.appointmentPrice' | translate }} : {{ item.pivot.app_price }} </h6>
        <hr>
        <h6>{{ 'adminPanel.startAt' | translate }} : {{ item.pivot.start_at |timeFormat}}</h6>
        <hr>
        <h6>{{ 'adminPanel.endAt' | translate }} : {{ item.pivot.end_at |timeFormat}}</h6>

      </div>
    </div>
    }
  </div>
  <button (click)="back()" class="btn btn-outline-primary me-auto py-1 d-flex align-items-center d-block"> <i
      class="bi bi-arrow-left fs-6"></i>
    {{ 'adminPanel.back' | translate }}</button>
</div>
<!-- End Hospital Show -->
