<!-- Start Hospital Show -->
<div class="container ">
  <div class="row my-4">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <div class="card border border-0 shadow p-5">
        <img [src]="hospital.image" class="w-100" alt="hospital Image">
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="card border border-0 shadow p-4">
        <h3 class="fs-4">Title : <span>{{ hospital.title}}</span></h3>
        <hr>
        <h5>Service : <span>{{ hospital.service }}</span></h5>
        <hr>
        <h5>Phone : <a href="tel:{{ hospital.phone }}">{{ hospital.phone }}</a></h5>
        <hr>
        <h5>Address : {{ hospital.address }}</h5>
        <hr>
        <h5>Location In Map : <a (click)="showInMap(hospital.locationUrl)"><i
              class="bi bi-geo-alt text-warning"></i></a></h5>
      </div>

    </div>
  </div>
  <div class="row">
    @for (item of departmentsOfHospital; track $index) {
    <div class="col-md-4">
      <div class="card departmentHospital shadow p-3">
        <a class="btn btn-light btn-update"
          routerLink="/admin-mediCare-1245/edit_department_hospital/{{ item.pivot.department_id }}/{{ item.pivot.hospital_id }}"><i
            class="bi bi-pen"></i></a>
        <h6>Department : {{ item.title }}</h6>
        <hr>
        <h6>Appointment Price : {{ item.pivot.app_price }} </h6>
        <hr>
        <h6>Start At : {{ item.pivot.start_at | date:'short'}}</h6>
        <hr>
        <h6>End At : {{ item.pivot.end_at | date:'short'}}</h6>
      </div>
    </div>
    }
  </div>
  <button (click)="back()" class="btn btn-outline-primary me-auto py-1 d-flex align-items-center d-block"> <i
      class="bi bi-arrow-left fs-6"></i>
    Back</button>
</div>
<!-- End Hospital Show -->
