.blogs-container {
  padding-top: 10px;
  direction: rtl;
}


.blog-card {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.blog-card .fa-star {
  font-size: 16px;
}

.blog-card p {
  margin-bottom: 10px;
}
.blog-card h5{
  font-family: var(--arabic-font);
  color: var(--main-color) !important;
}
.blog-card h4 {
  font-size: 1.25rem;
}

.blogs-container h2 {
  font-size: 2rem;
}

img.rounded-circle {
  border: 3px solid #ddd;
}

.ms-4 {
  margin-left: 20px;
}
.blog-card .content{
  padding: 2px 8px;
}
.text-info {
  color: #17a2b8;
}
@media screen and (max-width: 576px) {
  .blogs-container h4 {
  font-size: 1.2rem !important;
}
  .blog-card .content{
    font-size: 16px !important;
    padding: 2px 4px;
  }
  .doc-name{
    font-size: 18px;
  }
  .doc-title{
    font-size: 12px;
  }
}
