.blogs-container {
  padding-top: 10px;
  direction: rtl;
}


.blog-card {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.blog-card .fa-star {
  font-size: 16px;
}

.blog-card p {
  margin-bottom: 10px;
}

.blog-card h4 {
  font-size: 1.25rem;
}

.blogs-container h2 {
  font-size: 2rem;
}

img.rounded-circle {
  border: 3px solid #ddd;
}

.ms-4 {
  margin-left: 20px;
}

.text-info {
  color: #17a2b8;
}
