<div class="container">
  <div class="ratings-container mt-4">
    <h2 class="my-4 fw-bold text-info">مدونة <span>MediCare</span></h2>

    @for (item of DoctorBlogs; track $index) {
    <div class="rating-card p-4 my-3 border border-0 rounded">
      <div class="d-flex align-items-center mb-4">
        <img [src]="item.doctor.image" alt="item.doctor.fName Image" class="rounded-circle"
          style="width: 80px; height: 80px; object-fit: cover;">
        <div class="mx-2">
          <h5 class="fw-bold mb-0"> د . {{ item.doctor.fName }} {{ item.doctor.lName }}</h5>
          <p class="mb-0 text-muted">{{ item.doctor.title }}</p>
        </div>
      </div>
      <h4 class="fw-bold mb-2 text-info">{{ item.title }}</h4>
      <p class="fs-5" style="color: var(--third-color);">{{ item.content }}</p>
      <p class="text-muted mb-1 text-start">{{ item.created_at | date:'medium' }}</p>
    </div>
    }
  </div>
</div>
