nav .navbar-brand {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 7px;
}
.i-wrapper {
  position: relative;
  display: inline-block;
}

.dot-icon {
  position: absolute;
  top: 6px;
  left: -2px;
  font-size: 14px;
  color: var(--second-color);
  line-height: 1;
}


nav .nav-link {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  ul.language li {
    display: flex;
    justify-content: center;
  }
}
