nav .navbar-brand {
  color: var(--main-color);
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}
nav .nav-link {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  ul.language li {
    display: flex;
    justify-content: center;
  }
}
