<!-- Start Site Navbar  -->
<div class="container">
  <nav class="navbar navbar-expand-lg border-bottom border-1 border-info">
    <div class="container">
      <a class="navbar-brand" title="MediCare" routerLink="/home">MediCare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavbar"
        aria-controls="siteNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="siteNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <li class="nav-item">
            <a class="nav-link bg-info text-light rounded-2  mx-md-3 my-1 text-center"
              routerLink="/home">{{"navbar.home"|translate}}</a>
          </li>
          @if (isAuth) {
          <li class="nav-item">
            <a class="nav-link bg-info text-light rounded-2  mx-md-3 my-1 text-center"
              routerLink="/all/user-reservations">{{"navbar.booking"|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile"><i class="fa-solid fa-user"></i></a>
          </li>
          }@else {
          <li class="nav-item">
            <a class="nav-link bg-info text-light rounded-2  mx-md-3 my-1 text-center"
              routerLink="/Register">{{"navbar.register" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-info text-light rounded-2 text-center my-1" routerLink="/Login">{{"navbar.login" |
              translate}}</a>
          </li>
          }
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mt-lg-3 language">
          <li class="nav-item dropdown text-center">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-1 fs-6" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="selectedIcon" width="20px" height="25px">
              <span>{{ selectedLang }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-3">
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2 lang-item" (click)="change('en')">
                  <img src="./images/americanFlag.png" width="20px" height="20px"> <span>English</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2 lang-item" (click)="change('ar')">
                  <img src="./images/egyptFlag.png" width="20px" height="20px"> <span>العربية</span>
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- End Site Navbar -->
