<!-- Start Add New Care Center -->
<div class="pagetitle">
  <h1>Add Care Center</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
      <li class="breadcrumb-item">Add</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <p-toast />
      <div class="card p-4">
        <div class="card-body">
          <form class="row" [formGroup]="addCareCenterForm" (ngSubmit)="addCareCenter(addCareCenterForm)">
            <div class="row">
              <div class="col-md-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" formControlName="title"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.title.touched && addCareCenterForm.controls.title.errors) }"
                  class="form-control" id="title">
              </div>
              <div class="col-md-6">
                <label for="service" class="form-label">Service</label>
                <input type="text" formControlName="service"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.service.touched && addCareCenterForm.controls.service.errors) }"
                  class="form-control" id="service">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="image" class="form-label">Image</label>
                <input type="text" formControlName="image"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.image.touched && addCareCenterForm.controls.image.errors) }"
                  class="form-control" class="form-control" id="image">
              </div>
              <div class="col-md-6">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" formControlName="phone"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.phone.touched && addCareCenterForm.controls.phone.errors) }"
                  class="form-control" class="form-control" id="phone">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <input type="text" formControlName="address"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.address.touched && addCareCenterForm.controls.address.errors) }"
                  class="form-control" class="form-control" id="address">
              </div>
              <div class="col-md-6">
                <label for="locationUrl" class="form-label">Location Url</label>
                <input type="url" formControlName="locationUrl"
                  [ngClass]="{'is-invalid':(addCareCenterForm.controls.locationUrl.touched && addCareCenterForm.controls.locationUrl.errors) }"
                  class="form-control" class="form-control" id="locationUrl">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-2" [disabled]="addCareCenterForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Add New Care Center -->
