<div class="container mt-2" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
  <form (ngSubmit)="handleSubmit($event)" class="card  bg-dark-el border border-info border-1 p-3">
    <div class="form-group p-3">
      <div class="row">
        <div class="col-sm-6 my-1">
          <div class="dropdown">
            <button class="btn btn-info text-light dropdown-toggle w-100" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{"laboratories.laboratoriesChain"|translate}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <button class="dropdown-item" (click)="loadLaboratoriesByChain('all')">
                  {{"laboratories.all"| translate}}
                </button>
              </li>
              @for (item of ChainsLaboratories; track $index) {
              <li>
                <button class="dropdown-item" (click)="loadLaboratoriesByChain(item.id)">
                  {{ item.title }}
                </button>
              </li>
              }
            </ul>
          </div>
        </div>
        <div class="col-sm-6 my-1">
          <input type="text" class="form-control w-100" placeholder="ابحث عن معمل ..." [(ngModel)]="searchQuery"
            name="search" />
        </div>
      </div>
      <div class="row">
        <div class="col-6 my-1">
          <label class="form-label dark-text">{{"laboratories.city" |translate }}</label>
          <input type="text" class="form-control" name="city" (input)="handleCityChange($event)" />
        </div>
        <div class="col-6 my-1">
          <label class="form-label dark-text">{{"laboratories.area"|translate }}</label>
          <input type="text" class="form-control" name="area" (input)="handleAreaChange($event)" />
        </div>
      </div>
      <div class="row ">
        <div class="col-6 my-1">
          <label class="form-label dark-text"> {{"laboratories.insurance"| translate}}</label>
          <select class="form-select" (change)="handleInsurenceChange($event)" name="insurence">
            <option value="all"> {{"laboratories.all"| translate}}</option>
            <option value="1"> {{"laboratories.available"| translate}}</option>
            <option value="0">{{"laboratories.notAvailable"|translate }}</option>
          </select>
        </div>
        <div class="col-6 my-1">
          <label class="form-label dark-text">{{"laboratories.rating"|translate }}</label>
          <input type="number" min="0" max="5" class="form-control" name="minRate"
            (change)="handleMinRateChange($event)" />
        </div>
        <div class="col-sm-2 my-1 mx-auto">
          <button class="btn btn-info text-light w-100" type="submit">{{"laboratories.search"|translate}}</button>
        </div>
      </div>
    </div>
  </form>

  @if (isFetching()) {
  <div class="row justify-content-center mt-4">
    <div class="col-12 text-center">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  } @else {
  <div class="container my-5">
    <div class="row" dir="rtl">
      @for (item of Laboratories; track $index) {
      <div class="col-md-6 col-xl-4 my-2" data-aos="fade-up" data-aos-duration="1000">
        <div class="card-top text-center bg-dark-el shadow-lg border-0 overflow-hidden">
          <!-- الجزء العلوي -->
          <div class="card-header bg-info text-white py-4" style="border-bottom-left-radius: 50px;">
            <i class="fas fa-flask fa-3x"></i>
            <h4 class="fw-bold mt-2">{{item.title}}</h4>
            <p class="mb-2">{{ item.service }}</p>
          </div>

          <!-- الصورة -->
          <div class="position-relative bg-dark-el p-3 text-center">
            <img [src]="item.image ? item.image : './images/laboratory.gif'"
              class="rounded-circle border border-4 border-light shadow"
              style="width: 100px; height: 100px; margin-top: -50px;" alt="Laboratory Image" />
            @if (item.insurence ===1) {
            <p class="insurence pb-2 m-0 text-info">
              {{"laboratories.insurance"| translate}}
              <i class="bi bi-shield-check"></i>
            </p>
            }
          </div>

          <!-- التفاصيل -->
          <div class="card-body px-4">
            <div class="d-flex flex-column justify-content-between align-content-center">
              <p class="fw-bold"><i class="fa-solid fa-map-marker-alt text-info"></i> {{ item.area }}
                <!-- - {{item.city}} -->
              </p>
              <p class="fw-bold"> {{ item.phone }} <i class="fa-solid fa-phone text-info px-2"></i></p>
            </div>
            <div class="d-flex justify-content-between align-content-center">
              <a routerLink="/details/laboratory/{{ item.id }}"
                class="btn btn-info text-white fw-bold w-50 rounded-pill shadow-sm mt-1 mx-2">
                {{ "depDetails.BtnInfo" | translate }}
              </a>
              <a (click)="showInMap(item.locationUrl)"
                class="btn btn-info text-white fw-bold w-50 rounded-pill shadow-sm mt-1 " title="Location">
                <i class="bi bi-geo-alt text-light"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      }@empty {
      <div class="not-found">
        <img src="./images/empty.png" alt="" class="img-not-found" />
        <h3 class="head-not-found">{{"notFound.notFoundPage"|translate }}</h3>
        <h6 class="head-not-found2">
          {{"notFound.notFoundPage2"|translate }}
        </h6>
      </div>
      }
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage - 1)"
        [disabled]="currentPage === 1">
        {{"depDetails.lastPage"|translate}}
      </button>
      @for (page of [].constructor(totalPages); track $index) {
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange($index + 1)"
        [class.active]="$index + 1 === currentPage">
        {{$index + 1}}
      </button>
      }
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage + 1)"
        [disabled]="currentPage === totalPages || totalPages === 0">
        {{"depDetails.nextPage"|translate}}
      </button>
    </div>
  </div>
  }
</div>