<div class="container mt-2">
     <form [formGroup]="filterForm" (ngSubmit)="handleSubmit()" class="card p-3">
        <div class="d-flex  align-items-center mb-2 gap-3">
             <div class="dropdown">
                 <button class="btn btn-info text-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                   Chain Of Laboratories
                  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                     <li>
                         <button class="dropdown-item" (click)="loadLaboratoriesByChain('all')">
                          All Chains
                         </button>
                     </li>
                    @for (item of ChainsLaboratories; track $index) {
                    <li>
                         <button class="dropdown-item" (click)="loadLaboratoriesByChain(item.id)">
                             {{ item.title }}
                         </button>
                    </li>
                     }
                  </ul>
            </div>
             <input type="text" class="form-control" style="width: 40%;" placeholder="ابحث عن معمل..."
                  formControlName="search" />
            <button class="btn btn-info text-light" type="submit">
               بحث
             </button>
        </div>
          <div class="row align-items-center gap-3">
                  <div class="col-md-6 col-lg-3">
                    <label class="form-label">المدينة</label>
                    <input type="text" class="form-control" formControlName="city" (input)="handleCityChange($event)"/>
                  </div>
                   <div class="col-md-6 col-lg-3">
                      <label class="form-label">المنطقة</label>
                      <input type="text" class="form-control" formControlName="area" (input)="handleAreaChange($event)"/>
                    </div>
            <div class="col-md-6 col-lg-2">
               <label class="form-label">تأمين</label>
                <select class="form-select" formControlName="insurance" (change)="handleInsuranceChange($event)">
                    <option value="all">الكل</option>
                     <option value="1">نعم</option>
                    <option value="0">لا</option>
               </select>
           </div>
            <div class="col-md-6 col-lg-2">
               <label class="form-label">أقل تقييم</label>
               <input type="number" min="0" max="5" class="form-control" formControlName="minRate" (change)="handleMinRateChange($event)" />
            </div>
       </div>
     </form>
</div>

<div class="container my-5">
    @if (activeTab === 'LaboratoriesOfChain') {
    <div class="row">
        @for (item of Laboratories; track $index) {
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img [src]="item.image" class="card-img-top w-100" height="320px" alt="Laboratory Image" />
                <div class="card-body" style="direction: rtl;">
                    <h5 class="card-title fs-4">معمل : {{ item.title }}</h5>
                    <p class="card-text fs-5">تقدم خدمات :{{ item.service }}</p>
                    <a routerLink="/details/laboratory/{{ item.id }}" class="btn btn-info text-light">المزيد من المعلومات</a>
                </div>
            </div>
        </div>
        }
    </div>
    }
    @if (activeTab === 'Laboratories') {
        <div class="row">
        @for (item of Laboratories; track $index) {
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img [src]="item.image" class="card-img-top w-100" height="320px" alt="Laboratory Image" />
                <div class="card-body" style="direction: rtl;">
                    <h5 class="card-title fs-4">معمل : {{ item.title }}</h5>
                    <p class="card-text fs-5">تقدم خدمات :{{ item.service }}</p>
                    <a routerLink="/details/laboratory/{{ item.id }}" class="btn btn-info text-light">المزيد من المعلومات</a>
                 </div>
             </div>
         </div>
         }
         </div>
    }
     <div class="d-flex justify-content-center mt-4" >
         <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage - 1)"  [disabled]="currentPage === 1">
           Previous
         </button>
        @for (page of  [].constructor(totalPages); track $index) {
           <button class="btn btn-outline-info mx-1" (click)="handlePageChange($index + 1)" [class.active]="$index + 1 === currentPage">
              {{$index + 1}}
            </button>
         }
         <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage + 1)" [disabled]="currentPage === totalPages || totalPages === 0">
           Next
        </button>
       </div>
</div>
<app-site-footer></app-site-footer>
