
.form-control,
button {
  border-radius: 25px;
}
.form-control {
  border-width: 3px;
}
section {
  direction: rtl;
}
#form-floating {
  direction: rtl !important;
  position: relative;
}
label {
  color: #0dcaf0;
  font-weight: 600;
  direction: rtl !important;
  position: absolute ;
  right: 0;
}
