.form-control,
button {
  border-radius: 25px;
}
.form-control {
  border-width: 3px;
}
section {
  direction: rtl;
}
#form-floating {
  direction: rtl !important;
  position: relative;
}
label {
  color: #0dcaf0;
  font-weight: 600;
  position: absolute;
  right: 0;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: #0dcaf0;
  font-weight: 600;
  transform: scale(1) translateY(-0.6rem) translateX(-0.4rem);
}
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  img {
    display: none;
  }
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.direction{
  direction: rtl;
}
