<section class="pt-3">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h3 class="text-center mb-4 text-secondary"> مرحبا بك في<span class="text-info"> MediCare</span></h3>
       <h4 class="text-secondary pb-1">سجل <span  class="text-info">الان</span>:</h4>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Name">
          <label for="floatingInput">الاسم</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">البريد الالكتروني</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">كلمة المرور</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingRepassword" placeholder="RePassword">
          <label for="floatingRepassword">تأكيد كلمة المرور</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="floatingPhone" placeholder="Phone">
          <label for="floatingPhone">رقم الهاتف</label>
        </div>
        <button type="submit" class="btn btn-info text-white w-100">انشاء حساب</button>
        <p class="text-center mt-3">هل لديك حساب؟ <a class="text-info">تسجيل الدخول</a></p>
      </div>
      <div class="col-md-4">
<div class="d-flex align-content-center h-100">
  <img src="registerPhoto.svg" alt="registerSitePhoto" class="img-fluid  ">
</div>
      </div>
    </div>
  </div>
</section>
