<section class="pt-3">
  <div class="container">
    <h3 class="text-center my-4 text-secondary fw-bolder"> {{"register.welcome" |translate}}<span
        class="text-info fw-bolder"> MediCare</span></h3>
    <div class="row">
      <div class="col-md-8">
        <h4 class="text-secondary pb-1" [ngClass]="{'text-right': isRtl, 'text-left': !isRtl}">
          {{"register.register"|translate}} <span class="text-info">{{"register.now"|translate}}</span></h4>
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty) ,
              'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
            }" type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name">
            @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||
            registerForm.get('name')?.dirty)) {
            <div class="alert alert-danger text-center rounded-4 w-50 mx-auto">
              @if(registerForm.get('name')?.getError('required')){
              <p class="m-0">{{"register.nameErrorReq"|translate}}</p>
              }@else if (registerForm.get('name')?.getError('minlength')) {
              <p class="m-0">{{"register.nameErrorMor"|translate}}</p>
              }@else if (registerForm.get('name')?.getError('maxlength')) {
              <p class="m-0">{{"register.nameErrorLes"|translate}}</p>
              }
            </div>
            }
            <label for="floatingInput">{{"register.name"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) ,
              'is-invalid': registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
            }" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
              formControlName="email">
            @if (registerForm.get('email')?.errors &&(registerForm.get('email')?.touched ||
            registerForm.get('email')?.dirty) ) {
            <div class="alert alert-danger w-50 text-center mx-auto rounded-4">
              @if (registerForm.get('email')?.getError('required') ) {
              <p class="m-0">{{"register.emailErrorReq"|translate}}</p>
              }
              @if (registerForm.get('email')?.getError('email')) {
              <p class="m-0">{{"register.emailErrorVal"|translate}}</p>
              }
            </div>
            }
            <label for="floatingEmail">{{"register.email"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty) ,
              'is-invalid':registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)
            }" type="tel" class="form-control" id="floatingPhone" placeholder="Phone" formControlName="phone">
            @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched ||
            registerForm.get('phone')?.dirty) ) {
            <div class="alert alert-danger w-50 mx-auto text-center rounded-4">
              @if (registerForm.get('phone')?.getError('required') ) {
              <p class="m-0">{{"register.phoneErrorReq"|translate}}</p>
              }
              @if (registerForm.get('phone')?.getError('pattern')) {
              <p class="m-0"> {{"register.phoneErrorVal"|translate}}</p>
              }
            </div>
            }
            <label for="floatingPhone">{{"register.phone"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
                          'is-valid': !registerForm.get('address')?.errors && (registerForm.get('address')?.touched || registerForm.get('address')?.dirty) ,
                          'is-invalid':registerForm.get('address')?.errors && (registerForm.get('address')?.touched || registerForm.get('address')?.dirty)
                        }" type="text" class="form-control" id="floatingaddress" placeholder="address"
              formControlName="address">
            @if (registerForm.get('address')?.errors && (registerForm.get('address')?.touched ||
            registerForm.get('address')?.dirty) ) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (registerForm.get('address')?.getError('required') ) {
              <p class="m-0">{{"register.addressErrorReq"|translate}}</p>
              }

            </div>
            }
            <label for="floatingaddress"> {{"register.address"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
                                    'is-valid': !registerForm.get('birth_date')?.errors && (registerForm.get('birth_date')?.touched || registerForm.get('birth_date')?.dirty) ,
                                    'is-invalid':registerForm.get('birth_date')?.errors && (registerForm.get('birth_date')?.touched || registerForm.get('birth_date')?.dirty)
                                  }" type="date" class="form-control" id="floatingbirth_date" placeholder="birth_date"
              formControlName="birth_date">
            @if (registerForm.get('birth_date')?.errors && (registerForm.get('birth_date')?.touched ||
            registerForm.get('birth_date')?.dirty) ) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (registerForm.get('birth_date')?.getError('required') ) {
              <p class="m-0">{{"register.birthErrorReq"|translate}}</p>
              }
              @if (registerForm.get('birth_date')?.getError('pattern')) {
              <p class="m-0"> {{"register.birthErrorVal"|translate}}</p>
              }
            </div>
            }
            <label for="floatingbirth_date">{{"register.birthday"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) ,
              'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
            }" type="password" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="password">
            @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched ||
            registerForm.get('password')?.dirty)) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (registerForm.get('password')?.getError('required') ) {
              <p class="m-0">{{"register.passwordErrorReq"|translate}}</p>
              }@else if (registerForm.get('password')?.getError('minlength')) {
              <p class="m-0">{{"register.passwordErrorMor"|translate}}</p>
              }@else if (registerForm.get('password')?.getError('maxlength')) {
              <p class="m-0">{{"register.passwordErrorLes"|translate}}</p>
              }

            </div>
            }
            <label for="floatingPassword">{{"register.password"|translate}}</label>
          </div>
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !registerForm.getError('mismatch') && (registerForm.get('password_confirmation')?.touched || registerForm.get('password_confirmation')?.dirty) ,
              'is-invalid':registerForm.getError('mismatch') && (registerForm.get('password_confirmation')?.touched || registerForm.get('password_confirmation')?.dirty)
            }" type="password" class="form-control" id="floatingpassword_confirmation"
              placeholder="password_confirmation" formControlName="password_confirmation">
            @if (registerForm.getError('mismatch') && (registerForm.get('password_confirmation')?.touched ||
            registerForm.get('password_confirmation')?.dirty)) {
            <p class="m-0 alert alert-danger text-center w-50 mx-auto rounded-4">
              {{"register.confirmPassError"|translate}}</p>
            }
            <label for="floatingpassword_confirmation">{{"register.confirmPass"|translate}}</label>
          </div>

          <button [disabled]="registerForm.invalid || isLoading" type="submit"
            class="btn btn-info text-white w-100">{{"register.account"|translate}}
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
          @if(msgErr){
          <p class="alert alert-danger w-75 m-auto mt-3 ">{{msgErr}}</p>
          }
          @if(msgSuccess){
          <p class="alert alert-info text-center w-50 m-auto mt-3 ">{{"register.RegistrationPro"|translate}}</p>
          }
        </form>
        <p class="text-center mt-3">{{"register.doAccount" | translate}}<a class="text-info"
            routerLink="/Login">{{"register.login"|translate}}</a></p>

        <div class="d-flex justify-content-center">
          <app-login></app-login>
        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex align-content-center h-100">
          <img src="registerPhoto.svg" alt="registerSitePhoto" class="img-fluid  ">
        </div>
      </div>
    </div>
  </div>
</section>