<div class="card-mentor">
  <div class="container">
    <h2 data-aos="fade-left" data-aos-delay="500">دكتورة سهام عليو</h2>
    <div class="row">
      <div class="col-md-5" data-aos="fade-left" data-aos-delay="500">
        <img src="./images/our-mentor.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-7" data-aos="fade-right" data-aos-delay="500">
        <p>منذ البداية، كانت الدكتورة سهام عليو عنصرًا أساسيًا في نجاح المشروع بفضل خبرتها ورؤيتها الواضحة. دائمًا ما
          كانت
          اقتراحاتها مدروسة ومبدعة، مما ساعد على إضافة قيمة حقيقية للعمل وجعلنا نفكر في أفكار جديدة ومختلفة.</p>
        <p>ما يميز الدكتورة سهام هو مرونتها في الاستماع لآراء الفريق وملاحظاتهم، مما جعل التعاون بيننا يسير بسلاسة. كانت
          دائمًا
          متفهمة لاحتياجاتنا وكان لديها القدرة على توجيهنا بما يتناسب مع هدف المشروع.</p>
        <p>جهدها الكبير ودعمها المستمر كان لهما أثر كبير في تقدم المشروع، ونحن ممتنون لها على كل ما قدمته من وقت وجهد في
          سبيل نجاح
          هذا العمل. شكرًا لها على كل شيء.</p>
      </div>
    </div>
  </div>
</div>