<div class="container mt-2" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
  <form (ngSubmit)="handleSubmit($event)" class="card bg-dark-el border border-info border-1 p-4">
    <div class="d-flex  align-items-center mb-2 gap-3">
      <div class="dropdown">
        <button class="btn btn-info text-light dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{"Pharmacies.pharmaciesChain"|translate}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <button class="dropdown-item" (click)="loadPharmaciesByChain('all')">
              {{"Pharmacies.all"|translate }}
            </button>
          </li>
          @for (item of ChainsPharmacies; track $index) {
          <li>
            <button class="dropdown-item" (click)="loadPharmaciesByChain(item.id)">
              {{ item.title }}
            </button>
          </li>
          }
        </ul>
      </div>
      <input type="text" class="form-control" style="width: 40%;" placeholder="ابحث عن صيدلية..."
        [(ngModel)]="searchQuery" name="search" />
      <button class="btn btn-info text-light" type="submit">
        {{"Pharmacies.search"|translate}}
      </button>
    </div>
    <div class="row align-items-center gap-3">
      <div class="col-auto">
        <label class="form-label dark-text">{{"Pharmacies.city"|translate }}</label>
        <input type="text" class="form-control" name="city" (input)="handleCityChange($event)" />
      </div>
      <div class="col-auto">
        <label class="form-label dark-text">{{"Pharmacies.area"|translate }}</label>
        <input type="text" class="form-control" name="area" (input)="handleAreaChange($event)" />
      </div>
      <div class="col-auto">
        <label class="form-label dark-text">{{"Pharmacies.delivery"|translate }}</label>
        <select class="form-select" name="deliveryOption" (change)="handleDeliveryOptionChange($event)">
          <option value="all">{{"Pharmacies.all"|translate }}</option>
          <option value="1">{{"Pharmacies.available"|translate }}</option>
          <option value="0">{{"Pharmacies.notAvailable"|translate }}</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="form-label dark-text">{{"Pharmacies.insurance"| translate}}</label>
        <select class="form-select" (change)="handleInsurenceChange($event)" name="insurence">
          <option value="all">{{"Pharmacies.all"|translate }}</option>
          <option value="1">{{"Pharmacies.available"|translate }}</option>
          <option value="0">{{"Pharmacies.notAvailable"|translate }}</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="form-label dark-text">{{"Pharmacies.rating"|translate }}</label>
        <input type="number" min="0" max="5" class="form-control" name="minRate"
          (change)="handleMinRateChange($event)" />
      </div>
    </div>
  </form>

  @if (isFetching()) {
  <div class="row justify-content-center mt-4">
    <div class="col-12 text-center">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  } @else {
  <div class="container my-5">
    <div class="row" dir="rtl">
      @for (item of Pharmacies; track $index) {
      <div class="col-md-6 col-lg-4 my-2" data-aos="fade-up" data-aos-duration="1000">
        <div class="card-top text-center bg-dark-el shadow-lg border-0 overflow-hidden">

          <!-- الجزء العلوي -->
          <div class="card-header bg-info text-white py-4" style="border-bottom-left-radius: 50px;">
            <i class="fas fa-prescription-bottle-medical fa-3x"></i>
            <h4 class="fw-bold mt-2">{{item.title}}</h4>
            <p class="mb-2">{{ item.service }}</p>
          </div>

          <!-- الصورة -->
          <div class="position-relative bg-dark-el p-3 text-center">
            <img [src]="item.image ? item.image : './images/pharmacy.gif'"
              class="rounded-circle border border-4 border-light shadow"
              style="width: 100px; height: 100px; margin-top: -50px;" alt="pharmacy Image" />

            @if (item.insurence ===1) {
            <p class="insurence pb-2 m-0">
              {{"Pharmacies.insurance"| translate}}
              <i class="bi bi-shield-check"></i>
            </p>
            }
            @if (item.deliveryOption ===1) {
            <p class="delivery m-0 pb-2">
              {{"Pharmacies.delivery"| translate}}
              <i class="fa-solid fa-motorcycle fs-4"></i>
            </p>
            }

          </div>

          <!-- التفاصيل -->
          <div class="card-body px-4">
            <div class="d-flex justify-content-between align-content-center">
              <p class="fw-bold dark-text"><i class="fa-solid fa-map-marker-alt text-info"></i> {{ item.area }} - {{item.city}}
              </p>
              <p class="fw-bold dark-text"> {{ item.phone }} <i class="fa-solid fa-phone text-info"></i></p>
            </div>
            <div class="d-flex justify-content-between align-content-center">
              <a routerLink="/details/pharmacy/{{ item.id }}"
                class="btn btn-info text-white fw-bold w-50 rounded-pill shadow-sm mt-1 mx-2">
                {{ "depDetails.BtnInfo" | translate }}
              </a>
              <a (click)="showInMap(item.locationUrl)"
                class="btn btn-info text-white fw-bold w-50 rounded-pill shadow-sm mt-1 " title="Location">
                <i class="bi bi-geo-alt text-light"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      }@empty {
      <div class="not-found">
        <img src="./images/empty.png" alt="" class="img-not-found" />
        <h3 class="head-not-found">{{"notFound.notFoundPage"|translate }}</h3>
        <h6 class="head-not-found2">
          {{"notFound.notFoundPage2"|translate }}
        </h6>
      </div>
      }
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage - 1)"
        [disabled]="currentPage === 1">
        {{"depDetails.lastPage"|translate}}
      </button>
      @for (page of [].constructor(totalPages); track $index) {
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange($index + 1)"
        [class.active]="$index + 1 === currentPage">
        {{$index + 1}}
      </button>
      }
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage + 1)"
        [disabled]="currentPage === totalPages || totalPages === 0">
        {{"depDetails.nextPage"|translate}}
      </button>
    </div>
  </div>
  }
</div>
