<app-site-navbar></app-site-navbar>
<div class="container mt-2" dir="rtl">
    <form (ngSubmit)="handleSubmit($event)" class="card p-3">
        <div class="d-flex  align-items-center mb-2 gap-3">
            <div class="dropdown">
                <button class="btn btn-info text-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    سلسلة الصيدليات
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                     <li>
                         <button class="dropdown-item" (click)="loadPharmaciesByChain('all')">
                            الكل
                         </button>
                     </li>
                    @for (item of ChainsPharmacies; track $index) {
                    <li>
                        <button class="dropdown-item" (click)="loadPharmaciesByChain(item.id)">
                            {{ item.title }}
                        </button>
                    </li>
                    }
                 </ul>
             </div>
            <input type="text" class="form-control" style="width: 40%;" placeholder="ابحث عن صيدلية..."
                [(ngModel)]="searchQuery" name="search" />
            <button class="btn btn-info text-light" type="submit">
                بحث
            </button>
        </div>
        <div class="row align-items-center gap-3">
          <div class="col-auto">
            <label class="form-label">المحافظه</label>
            <input type="text" class="form-control"  name="city" (input)="handleCityChange($event)"/>
          </div>
           <div class="col-auto">
              <label class="form-label">المنطقة</label>
               <input type="text" class="form-control"  name="area" (input)="handleAreaChange($event)"/>
           </div>
            <div class="col-auto">
                <label class="form-label">توصيل</label>
                <select class="form-select"  name="deliveryOption" (change)="handleDeliveryOptionChange($event)">
                    <option value="all">الكل</option>
                    <option value="1">نعم</option>
                    <option value="0">لا</option>
                </select>
            </div>
            <div class="col-auto">
                <label class="form-label">تأمين</label>
                <select class="form-select" (change)="handleInsuranceChange($event)" name="insurance">
                    <option value="all">الكل</option>
                    <option value="1">نعم</option>
                    <option value="0">لا</option>
                </select>
            </div>
            <div class="col-auto">
                <label class="form-label">أقل تقييم</label>
                 <input type="number" min="0" max="5" class="form-control"  name="minRate" (change)="handleMinRateChange($event)"/>
            </div>
        </div>
    </form>
</div>
<div class="container my-5">
    <div class="row" dir="rtl">
        @for (item of Pharmacies; track $index) {
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img [src]="item.image" class="card-img-top w-100" height="320px" alt="pharmacy Image" />
                <div class="card-body" style="direction: rtl;">
                    <h5 class="card-title fs-4">صيدلية : {{ item.title }}</h5>
                    <p class="card-text fs-5">تقدم خدمات :{{ item.service }}</p>
                    <a routerLink="/details/pharmacy/{{ item.id }}" class="btn btn-info text-light">المزيد من المعلومات</a>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="d-flex justify-content-center mt-4" >
      <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage - 1)"  [disabled]="currentPage === 1">
         Previous
       </button>
         @for (page of  [].constructor(totalPages); track $index) {
           <button class="btn btn-outline-info mx-1" (click)="handlePageChange($index + 1)" [class.active]="$index + 1 === currentPage" >
               {{$index + 1}}
             </button>
         }
       <button class="btn btn-outline-info mx-1" (click)="handlePageChange(currentPage + 1)" [disabled]="currentPage === totalPages || totalPages === 0">
         Next
     </button>
    </div>
</div>

<app-site-footer></app-site-footer>-
