<div class="container mt-2">
  <div class="dropdown">
    <button class="btn btn-info text-light dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      Chain Of Pharmacies
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <!-- To Get All Pharamices From Dropdown .. -->
      <li>
        <button class="dropdown-item" (click)="allPharmacies()">
          All Pharamcies
        </button>
      </li>
      <!-- Loop In Chain Of Pahramcies To Get It's Pharamices -->
      @for (item of ChainsPharmacies; track $index) {
      <li>
        <button class="dropdown-item" (click)="loadPharmaciesByChain(item.id)">
          {{ item.title }}
        </button>
      </li>
      }
    </ul>
  </div>
</div>

<div class="container my-5">
  <!-- Get Pharamcies Of Chain -->
  @if (activeTab === 'PharmaciesOfChain') {
  <div class="row">
    @for (item of Pharmacies; track $index) {
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img [src]="item.image" class="card-img-top w-100" height="320px" alt="pharmacy Image" />
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title fs-4">صيدلية : {{ item.title }}</h5>
          <p class="card-text fs-5">تقدم خدمات :{{ item.service }}</p>
          <a routerLink="/details/pharmacy/{{ item.id }}" class="btn btn-info text-light">المزيد من المعلومات</a>
        </div>
      </div>
    </div>
    }
  </div>
  }
  <!-- All Pharamcies -->
  @if (activeTab === 'Pharmacies') {
  <div class="row">
    @for (item of Pharmacies; track $index) {
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img [src]="item.image" class="card-img-top w-100" height="320px" alt="pharmacy Image" />
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title fs-4">صيدلية : {{ item.title }}</h5>
          <p class="card-text fs-5">تقدم خدمات :{{ item.service }}</p>
          <a routerLink="/details/pharmacy/{{ item.id }}" class="btn btn-info text-light">المزيد من المعلومات</a>
        </div>
      </div>
    </div>
    }
    <!-- Pagination In All Pharamecies Else ! -->
    <div class="d-flex justify-content-center align-items-center mb-4 mt-2">
      <button (click)="prevPharmaciesPage()" class="btn btn-outline-info" [disabled]="currentPharmaciesPage === 1">
        الصفحة السابقة
      </button>
      <span class="px-3 fw-bold">الصفحة {{ currentPharmaciesPage }} من {{ totalPharmaciesPages }}</span>
      <button (click)="nextPharmaciesPage()" class="btn btn-outline-info"
        [disabled]="currentPharmaciesPage === totalPharmaciesPages">الصفحة
        التالية</button>
    </div>
  </div>
  }
</div>
