<div class="card-team bg-dark-el" data-aos="fade-up" data-aos-delay="500">
  <div class="container">
    <h2>فريق Medicare</h2>
    <div class="row">
      <div class="col-md-4 my-2" data-aos="fade-left" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member2.svg" alt="" class="img-fluid">
          <h3>عبدالرحمن عبدالسميع</h3>
          <p class="dark-text">مطور Backend (PHP, MySQL, Laravel)</p>
        </div>
      </div>
      <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member2.svg" alt="" class="img-fluid">
          <h3>محمد أحمد علي</h3>
          <p class="dark-text">مطور Backend (PHP, MySQL, Laravel)</p>
        </div>
      </div>
      <div class="col-md-4 my-2" data-aos="fade-right" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member.svg" alt="" class="img-fluid">
          <h3>نهال طارق</h3>
          <p class="dark-text">مطور Backend (PHP, MySQL, Laravel)</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 my-2" data-aos="fade-left" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member2.svg" alt="" class="img-fluid">
          <h3>عبدالله عادل</h3>
          <p class="dark-text">مطور UI/UX (Figma)</p>
        </div>
      </div>
      <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member2.svg" alt="" class="img-fluid">
          <h3>أحمد منصور</h3>
          <p class="dark-text">مطور Mobile (Flutter)</p>
        </div>
      </div>
      <div class="col-md-4 my-2" data-aos="fade-right" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member2.svg" alt="" class="img-fluid">
          <h3>علي ماهر</h3>
          <p class="dark-text">مطور Mobile (Flutter)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 my-2" data-aos="fade-left" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member.svg" alt="" class="img-fluid">
          <h3>ميادة محمد</h3>
          <p class="dark-text"> مطور Frontend (HTML5, CSS3, Bootstrap5, JavaScript, TypeScript, Angular)</p>
        </div>
      </div>
      <div class="col-md-4 my-2" data-aos="fade-right" data-aos-delay="500">
        <div class="member">
          <img src="./images/team/team-member.svg" alt="" class="img-fluid">
          <h3>ندي محمد</h3>
          <p class="dark-text"> مطور Frontend (HTML5, CSS3, Bootstrap5, JavaScript, TypeScript, Angular)</p>
        </div>
      </div>

    </div>
  </div>
</div>
