<div class="container bg-dark-el" data-aos="fade-up" data-aos-delay="500">
  <form>
    <div class="section-header">
      <h3>تواصل معانا</h3>
      <p class="dark-text">نحن سعداء لتلقي استفساراتكم واقتراحاتكم ..</p>
    </div>
    <div class="row gy-3">
      <div class="col-md-6 form-group">
        <label for="name" class="dark-text">الأسم بالكامل <span>*</span></label>
        <input type="text" name="name" class="form-control" formControlName="name" id="name" required>
      </div>
      <div class="col-md-6 form-group">
        <label for="email" class="dark-text">البريد الإلكتروني <span>*</span></label>
        <input type="email" name="email" class="form-control" formControlName="email" id="email">
      </div>
      <div class="col-12 form-group">
        <label for="comment" class="dark-text">تعليقك <span>*</span></label>
        <textarea class="form-control" formControlName="message" name="comment" id="comment" rows="5"
          placeholder="فضلاً، اكتب أفكارك وملاحظاتك هنا..." required=""></textarea>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn">أرسل تعليقك</button>
      </div>
    </div>
  </form>
</div>
