<!-- Start List All Doctor Offers -->
<div class="pagetitle">
  <h1>List Doctor Offers</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Tables</li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
  </nav>
</div>
<div class="row">
  <p-toast />
  <div class="col-lg-12">
    <div class="card shadow p-4">
      <table class="table table-light table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        @for (item of DoctorOffers; track $index) {
        <tbody>
          <tr>
            <td>{{ $index +1 }}</td>
            <td>{{ item.title }}</td>
            <td><a routerLink="/doctor/show_doctor_offer/{{ item.id }}" title="Show"><i
                  class="bi bi-eye text-primary"></i></a></td>
            <td><a routerLink="/doctor/edit_doctor_offer/{{ item.id }}" title="Edit"><i
                  class="bi bi-pen text-warning"></i></a></td>
            <td><a (click)="deleteDoctorOffer(item.id)" title="Delete"><i class="bi bi-trash text-danger"></i></a></td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>
<!-- End List All Doctor Offers  -->
