<section>
  <div class="container col-md-8 check-gmail">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center order-1 order-lg-2">
        <h1 class="text-info fw-bold text-center"> مع Medicare <br> ومن أجل ضمان حمايتك ..</h1>
        <a href="https://mail.google.com/" target="_self" rel="noopener noreferrer"
          class="btn btn-outline-info d-block mx-auto mt-3">
          افتح بريد Gmail
        </a>
      </div>
      <div class="col-md-6 order-2 order-lg-1 my-2">
        <img src="./images/check-gmail.svg" alt="Check Gmail Image" class="img-fluid">
      </div>

    </div>
  </div>
</section>
