<!-- Start Laboratory Section -->
<section id="Laboratory">
  <div class="container text-center">
    <h2 class="head-title">المعامل</h2>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3>
          مع <span>MediCare</span>، وفرنا لك دليل شامل لكل المعامل الطبية في محافظة سوهاج.
          دلوقتي تقدر تعرف أقرب معمل، تفاصيل خدماته، وأوقات العمل بسهولة. صحتك تستحق الأفضل، واحنا هنا علشان نسهلها
          عليك.
        </h3>
        <a routerLink="/laboratories"
          class="btn btn-outline-info d-block fs-5 mx-auto py-2 px-5 d-flex align-items-center rounded-4"><i
            class="bi bi-arrow-left px-2"></i>
          أستكشف المعامل</a>
      </div>
      <div class="col-md-6">
        <a routerLink="/laboratories"><img src="./Laboratory.jpg"   alt="صورة معمل طبي" class="img-fluid" loading="lazy"></a>
      </div>
    </div>
  </div>
</section>
<!-- End Laboratory Section -->
