img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 5px var(--main-color);
}
h3,
p {
  direction: rtl;
  font-family: var(--arabic-font);
  line-height: 45px;
  font-size: 22px;
  color: var(--second-color);
}
h3 span {
  font-weight: 700;
  color: var(--main-color);
}
@media screen and (max-width: 576px) {
  h3 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 35px;
  }
  a {
    font-size: 16px !important;
  }
  img {
    height: auto;
  }
}
