<div class="container" data-aos="fade-down" data-aos-duration="1000">
  <p-toast />
  <p-carousel class="py-5" [value]="DoctorClinicImages" [numVisible]="3" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-image pTemplate="item">
      <div class="border bg-dark-el shadow-sm m-2 carousel">
        <img [src]="image.image" height="280px" class="d-block mx-auto" />
        <div class="icons">
          <a routerLink="/admin-mediCare-1245/edit-doctor-clinic-image/{{ image.id }}" title="Edit"><i
              class="bi bi-pen text-warning"></i></a>
          <a (click)="deleteClinicImage(image.id)" title="Delete"><i class="bi bi-trash text-danger"></i></a>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
    <a routerLink="/admin-mediCare-1245/add-doctor-clinic-image" class="btn btn-info text-light d-inline-block ms-auto">
      {{'adminPanel.addNewImageToClinic' | translate }}
    </a>
  </div>
  <!-- Offer Details -->
  <div class="card bg-dark-el dark-text border-0 shadow p-4 mt-3" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
    <h5>{{ 'adminPanel.title' | translate }} : {{ DoctorClinic.title }}</h5>
    <hr>
    <h5>{{ 'adminPanel.description' | translate }} : {{ DoctorClinic.description }}</h5>
    <hr>
    <h5>{{ 'adminPanel.address' | translate }} : {{ DoctorClinic.address }}</h5>
    <hr>
    <h5>{{ 'adminPanel.phone' | translate }} : {{ DoctorClinic.phone }}</h5>
    <hr>
    <h5>{{ 'adminPanel.locationInMap' | translate }} : <a (click)="showInMap(DoctorClinic.locationUrl)"><i
          class="bi bi-geo-alt text-warning"></i></a>
    </h5>
    <hr>
    <h5>{{ 'adminPanel.addedAt' | translate }} : {{ DoctorClinic.created_at |timeFormat }}</h5>
  </div>
</div>