<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!--Start  Department -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#department-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-sidebar"></i><span>Department</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="department-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="departments">
            <i class="bi bi-circle"></i><span>List Departments</span>
          </a>
        </li>
        <li>
          <a routerLink="add_department">
            <i class="bi bi-circle"></i><span>Add Department</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Hospital -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#hospital-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-hospital"></i><span>Hospital</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="hospital-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="hospitals">
            <i class="bi bi-circle"></i><span>List Hospitals</span>
          </a>
        </li>
        <li>
          <a routerLink="add_hospital">
            <i class="bi bi-circle"></i><span>Add Hospital</span>
          </a>
        </li>
        <li>
          <a routerLink="add_department_hospital">
            <i class="bi bi-circle"></i><span>Add Department To Hospital</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Care Center -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#carecenter-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-cassette-fill"></i><span>Care Center</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="carecenter-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="care_centers">
            <i class="bi bi-circle"></i><span>List Care Centers</span>
          </a>
        </li>
        <li>
          <a routerLink="add_care_center">
            <i class="bi bi-circle"></i><span>Add Care Center</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Chain Of Pharmacies -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#chainPharmacies-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-collection"></i><span>Chain Of Pharmacies</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="chainPharmacies-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="chain_pharmacies">
            <i class="bi bi-circle"></i><span>List Chain Pharmacies</span>
          </a>
        </li>
        <li>
          <a routerLink="add_chain_pharmacies">
            <i class="bi bi-circle"></i><span>Add Chain Pharmacies</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Pharmacies لسه معملتش دول ! -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#pharmacies-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-capsule"></i><span>Pharmacies</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pharmacies-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="">
            <i class="bi bi-circle"></i><span>List Of Pharmacies</span>
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="bi bi-circle"></i><span>Add Pharmacy</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Chain Of Laboratories -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#chainLaboratories-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-collection"></i><span>Chain Of Laboratories</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="chainLaboratories-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="chain_laboratories">
            <i class="bi bi-circle"></i><span>List Chain Laboratories</span>
          </a>
        </li>
        <li>
          <a routerLink="add_chain_laboratories">
            <i class="bi bi-circle"></i><span>Add Chain Laboratories</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</aside><!-- End Sidebar-->
