<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar bg-dark-el" data-aos="fade-right" data-aos-duration="1000">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link bg-dark-el" routerLink="/admin-mediCare-1245">
        <i class="bi bi-grid info-text"></i>
        <span class="dark-text">{{ 'adminPanel.dashboard' | translate }}</span>
      </a>
    </li>
    <!--Start Department -->
    <li class="nav-item">
      <a class="nav-link collapsed bg-dark-el dark-text" data-bs-target="#department-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-house-medical info-text"></i><span>{{ 'adminPanel.departments' | translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="department-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="departments">
            <i class="bi bi-circle info-text"></i><span>{{ 'adminPanel.department_list' | translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_department">
            <i class="bi bi-circle info-text"></i><span>{{ 'adminPanel.department_add' | translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!--Start Department Tips -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#departmentTips-nav" data-bs-toggle="collapse"
        href="#">
        <i class="bi bi-pencil-square info-text "></i><span>{{ 'adminPanel.department_tips' | translate}}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="departmentTips-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="department-tips">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.department_tips_list' | translate}}</span>
          </a>
        </li>
        <li>
          <a routerLink="add-department-tip">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.department_tips_add' | translate}}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Hospital -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#hospital-nav" data-bs-toggle="collapse"
        href="#">
        <i class="bi bi-hospital info-text"></i><span>{{ 'adminPanel.hospitals' | translate}}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="hospital-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="hospitals">
            <i class="bi bi-circle"></i><span> {{ 'adminPanel.hospital_list' | translate}}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_hospital">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.hospital_add' | translate}} </span>
          </a>
        </li>
        <li>
          <a routerLink="add_department_hospital">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.addDepartmentToHospital' | translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Care Center -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#carecenter-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-hands-helping info-text"></i><span>{{ 'adminPanel.care_centers' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="carecenter-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="care_centers">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.care_center_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_care_center">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.care_center_add' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_department_care_center">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.addDepartmentToCareCenter' | translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Chain Of Pharmacies -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#chainPharmacies-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-prescription-bottle info-text"></i><span>{{ 'adminPanel.chain_pharmacies' |translate
          }}</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="chainPharmacies-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="chain_pharmacies">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.chain_pharmacies_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_chain_pharmacies">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.chain_pharmacies_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Pharmacies -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#pharmacies-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-prescription-bottle-medical info-text"></i><span>{{ 'adminPanel.pharmacies' |translate
          }}</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pharmacies-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="pharmacies">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.pharmacies_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_pharmacy">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.pharmacies_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Chain Of Laboratories -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#chainLaboratories-nav"
        data-bs-toggle="collapse" href="#">
        <i class="fa-solid fa-flask info-text"></i> <span>{{ 'adminPanel.chain_laboratories' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="chainLaboratories-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="chain_laboratories">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.chain_laboratories_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_chain_laboratories">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.chain_laboratories_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Laboratories -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#Laboratories-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-vials info-text"></i><span>{{ 'adminPanel.laboratories' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Laboratories-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="laboratories">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.laboratories_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_laboratory">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.laboratories_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Insurance Companies -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#insurance-companies-nav"
        data-bs-toggle="collapse" href="#">
        <i class="fa-solid fa-building-shield info-text"></i><span>{{ 'adminPanel.insurance-companies' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="insurance-companies-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="insurance-companies">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.insurance-companies-list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add-insurance-company">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.insurance-companies-add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Specializations -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#specializations-nav" data-bs-toggle="collapse"
        href="#">
        <i class="fa-solid fa-stethoscope info-text"></i><span>{{ 'adminPanel.specializations' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="specializations-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="specializations">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.specializations_list' |translate }} </span>
          </a>
        </li>
        <li>
          <a routerLink="add_specialization">
            <i class="bi bi-circle"></i><span> {{ 'adminPanel.specializations_add' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_specialization_doctor">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.addSpecializationToDoctor' | translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Delivery Services -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#DeliveryServices-nav"
        data-bs-toggle="collapse" href="#">
        <i class="fa-solid fa-car info-text"></i><span>{{ 'adminPanel.delivery_services' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="DeliveryServices-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="DeliveryServices">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.delivery_services_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add_DeliveryService">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.delivery_services_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Offer Groups -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#offerGroups-nav" data-bs-toggle="collapse"
        href="#">
        <i class="bi bi-collection info-text"></i><span>{{ 'adminPanel.offer_groups' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="offerGroups-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="offer-groups">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.offer_groups_list' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="add-offer-group">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.offer_groups_add' |translate }}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Start Review Rattings  -->
    <li class="nav-item">
      <a class="nav-link collapsed dark-text bg-dark-el" data-bs-target="#reviewRattings-nav" data-bs-toggle="collapse"
        href="#">
        <i class="bi bi-binoculars-fill info-text"></i><span>{{ 'adminPanel.review_ratting' |translate }}</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="reviewRattings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="review-pharmacies-rating">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.review_ratting_list_pharmcies' |translate }}</span>
          </a>
        </li>
        <li>
          <a routerLink="review-laboratories-rating">
            <i class="bi bi-circle"></i><span>{{ 'adminPanel.review_ratting_list_labs' |translate }}</span>
          </a>
        </li>

      </ul>
    </li>
  </ul>
</aside><!-- End Sidebar-->
