<p-toast />
<div class="container my-3">
  <div class="row my-3">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border border-0 shadow p-4">
            <div class="d-flex align-items-center mb-4 doctor-info">
              <img [src]="Doctor.image" alt="Doctor Image" class="rounded-circle img-thumbnail"
                style="width: 130px; height: 130px; object-fit: cover;">
              <div class="mx-2">
                <h5 class="fw-bold mb-0">
                  {{ Doctor.gender == 'male' ? 'دكتور' : 'دكتورة' }}
                  {{ Doctor.fName }} {{ Doctor.lName }}
                </h5>
                <p class="mb-1 mt-3 fs-6 fw-bold">{{ Doctor.title }}</p>
                <p class="my-2 fs-5">
                  {{ Doctor.gender == 'male' ? 'دكتور' : 'دكتورة' }} متخصص في
                  @for (item of Doctor.specializations; track $index) {
                  <a href="" class="text-info fw-bold"> <span style="text-decoration: underline;" class="ps-1">{{
                      item.title }}
                      ،</span> </a>
                  }
                </p>
              </div>

            </div>
            <div class="d-flex justify-content-start gap-3 mt-3">
              <a (click)="showInMap(Doctor.facebookLink)" class="text-primary" title="Contact on Facebook">
                <i class="bi bi-facebook fa-lg"></i>
              </a>
              <a [href]="Doctor.whatsappLink" target="_blank" class="text-success" title="Contact on WhatsApp">
                <i class="fab fa-whatsapp fa-lg"></i>
              </a>
              <a href="tel:{{ Doctor.phone }}" class="text-info" title="Call Now">
                <i class="fas fa-phone-alt fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card border border-0 shadow p-4">
            <h5><i class="fa-solid fa-circle-info text-light bg-info p-2 rounded-5"></i> معلومات عن
              {{ Doctor.gender == 'male' ? 'الدكتور' : 'الدكتورة' }}
            </h5>
            <p class="my-2 px-4">
              {{ Doctor.infoAboutDoctor }}
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card border border-0 shadow p-4">
            <h5><i class="fa-regular fa-image text-light bg-info p-2 rounded-5"></i> العيادة :</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card border border-0 shadow text-center">
        <h2 class="appointmentHead">معلومات الحجز</h2>
        <p class="text-muted mb-0">احجـــز</p>
        <h5 class="text-secondary">كشف طبي</h5>
        <hr>
        <div class="d-flex justify-content-between mt-2 px-5 appPrice">
          <h5><i class="fa-solid fa-money-bill text-info fs-4"></i> <br> الكشف : {{ Doctor.app_price }}</h5>
          <h5>
            @if(Doctor.homeOption ===1){
            <i class="fa-solid fa-house-user text-info fs-4"></i> <br> يدعم الزيارة المنزلية
            }@else {
            <i class="fa-solid fa-house-user text-danger fs-4"></i> <br> لا يدعم الزيارة المنزلية
            }
          </h5>
        </div>
        <hr>
        @for (item of Doctor.clinics; track $index) {
        <h5 class="location">
          <button (click)="showInMap(item.locationUrl)"><i
              class="fa-solid fa-location-dot btn fs-6 text-info"></i></button>
          {{ item.title }} ({{ item.address }})
        </h5>
        }
        <hr>
        <div class="container">
          <h5 class="text-center fw-bold">اخـتــــــــار ميعاد الــحــجــز</h5>
        </div>
        <hr>
        <!-- Start Appointments -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let date of appointmentDates; let i = index" class="carousel-item" [class.active]="i === 0">
              <div class="appointment-item mx-auto">
                <h5 class="appointment-day">
                  {{ getFormattedDate(date.date) }}
                </h5>
                <div *ngFor="let item of date.appointments">
                  <button class="appointment-time btn" title="احجز {{ item.start_at | timeFormat}}"
                    [ngClass]="item.is_booked ? 'in-valid-appointment' : 'valid-appointment'" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="openModal(item)" [disabled]="item.is_booked">
                    {{ item.start_at
                    |timeFormat }} - {{
                    item.end_at | timeFormat
                    }}
                  </button>

                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">احجز الآن مع د. {{ Doctor.fName }} {{ Doctor.lName }}
                </h5>
              </div>
              <div class="modal-body">
                <h5 class="title">معلومات الحجز : </h5>
                <div class="info-user">
                  <h6>اسم المستخدم : {{ userData.name }} </h6>
                  <h6>رقم محمول :{{ userData.phone }} </h6>
                  <h6> العنوان : {{ userData.address }}</h6>
                </div>
                <div class="info-appointment">
                  <h6> يبدأ الكشف في ميعاد : {{ appointmentReserveInfo.start_at | timeFormat}}</h6>
                  <h6>
                    @for (item of Doctor.clinics; track $index) {
                    @if (item.id === appointmentReserveInfo.clinic_id) {

                    <h6 (click)="showInMap(item.locationUrl)" class="clinicLocation"> العيادة : {{ item.title }}
                      <i class="fa-solid fa-location-dot text-info"></i>
                    </h6>
                    }
                    }
                  </h6>
                  <h6></h6>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-info text-light fs-6"
                  (click)="reserveAppointment(appointmentReserveInfo)" data-bs-dismiss="modal">احجز</button>
                <button type="button" class="btn btn-secondary fs-6" data-bs-dismiss="modal">إلغاء</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- End Appointments -->
        <h5 class="appLater">الحجز مسبقا و الدخول بأسبقية الحضور</h5>
        <hr>
        <div class="reserve-section">
          <h2><i class="bi bi-pencil-square"></i></h2>
          <h5 class="reserveOnline">احجز أونلاين، ادفع في العيادة!<br> الدكتور يشترط الحجز المسبق!</h5>
        </div>
      </div>
    </div>

  </div>
</div>
