<!-- Start Care Center Show -->
<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <div class="card border border-0 shadow p-5">
        <img [src]="careCenter.image" class="w-100" alt="careCenter Iamge">
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="card border border-0 shadow p-4">
        <h3 class="fs-4">{{ 'adminPanel.title' | translate }} : <span>{{ careCenter.title}}</span></h3>
        <hr>
        <h5>{{ 'adminPanel.service' | translate }} : <span>{{ careCenter.service }}</span></h5>
        <hr>
        <h5>{{ 'adminPanel.phone' | translate }} : {{ careCenter.phone }}</h5>
        <hr>
        <h5>{{ 'adminPanel.address' | translate }} : {{ careCenter.address }}</h5>
        <hr>
        <h5>{{ 'adminPanel.locationInMap' | translate }} : <a (click)="showInMap(careCenter.locationUrl)"><i
              class="bi bi-geo-alt text-warning"></i></a></h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    @for (item of departmentsOfCareCenter; track $index) {
    <div class="col-md-4">
      <div class="card departmentCareCenter shadow p-3">
        <a class="btn btn-light btn-update"
          routerLink="/admin-mediCare-1245/edit_department_care_center/{{ item.pivot.department_id }}/{{ item.pivot.care_center_id }}"><i
            class="bi bi-pen"></i></a>
        <h6>{{ 'adminPanel.department' | translate }} : {{ item.title }}</h6>
        <hr>
        <h6>{{ 'adminPanel.appointmentPrice' | translate }}: {{ item.pivot.app_price }} </h6>
        <hr>
        <h6>{{ 'adminPanel.startAt' | translate }} : {{ item.pivot.start_at | date:'short'}}</h6>
        <hr>
        <h6>{{ 'adminPanel.endAt' | translate }} : {{ item.pivot.end_at | date:'short'}}</h6>

      </div>
    </div>
    }
  </div>
  <div class="d-inline-block">
    <button (click)="back()" class="btn btn-outline-primary me-auto py-1 d-flex align-items-center d-block"> <i
        class="bi bi-arrow-left fs-6"></i>
      {{ 'adminPanel.back' | translate }}</button>
  </div>
</div>
<!-- End Care Center Show -->
