<!-- Start item Show -->
<div class="container">
  <div class="row my-3" data-aos="fade-down" data-aos-duration="10000">
    <div class="col-md-12">
      <div class="card bg-dark-el item-card shadow-lg border-0" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
        <div class="item-image">
          <img [src]="pharmacy.image ? pharmacy.image : './images/pharmacy.gif'"
            class="rounded-circle border border-3 border-info shadow" style="width: 100px; height: 100px;"
            alt="Pharmacy Image">
        </div>
        <div class="card-body pt-4">
          <h3 class="text-center fw-bold dark-text">{{ pharmacy.title }}</h3>
          <p class="item-service dark-text"> <span class="fw-bold">
              يوجد في الصيدلية
            </span> : {{ pharmacy.service }}</p>
          <p class="item-date dark-text">
            <span class="fw-bold dark-text">مواعيد العمل : </span>
            <i class="fa-solid fa-clock text-info"></i>
            {{ pharmacy.start_at | timeFormat }} {{"details.to" | translate}}
            {{ pharmacy.end_at | timeFormat}}
          </p>
          <div class="more-info">
            <p class="pharmacy-phone dark-text">
              <a href="tel:{{ pharmacy.phone }}"><i class="fa-solid fa-phone-flip text-info"></i></a>
              {{ pharmacy.phone }}
            </p>
            <p class="pharmacy-whatsapp dark-text">
              <a href="{{ pharmacy.whatsappLink }}"><i class="fa-brands fa-whatsapp text-success"></i>
              </a>
              الواتساب لتواصل
            </p>
            <h3 class="dark-text fs-5">
              <i class=" fa-solid fa-location-pin"></i>
              {{ pharmacy.area }} - {{ pharmacy.city }}
            </h3>
            <button class="btn btn-outline-info my-3 d-block rounded-3" (click)="showInMap(pharmacy.locationUrl)">خريطة
              الوصول
              <i class="fa-solid fa-map-location-dot"></i></button>
            <p class="pharmacy-whatsapp dark-text">
              تمت الإضافة بتاريخ : {{ pharmacy.created_at | date:'yyyy-MM-dd'}}
            </p>
          </div>
          <div class="d-flex justify-content-center updated">
            <p class="item-delivery px-2">
              <!-- <span class="fw-bold"> خدمة التوصيل : </span> -->
              @if (pharmacy.deliveryOption === 1) {
              <span class="delivery m-0 pb-1">
                <i class="fa-solid fa-motorcycle fs-6"></i>
                {{"Pharmacies.delivery" | translate}}
              </span>
              }@else{
              <span class="notAvaliabledelivery m-0 pb-1">
                <i class="fa-solid fa-motorcycle fs-6"></i>
                التوصيل غير متاحة
              </span>
              }
            </p>
            <p class="item-insurence">
              <!-- <span class="fw-bold"> خدمة التأمين : </span> -->
              @if (pharmacy.insurence === 1) {
              <span class="insurence m-0 pb-1">
                <i class="bi bi-shield-check fs-6"></i>
                {{"Pharmacies.insurance" | translate}}
              </span>
              }@else{
              <span class="notAvaliableinsurence m-0 pb-1">
                <i class="fa-solid fa-xmark fs-6"></i>
                التأمين غير متاح
              </span>
              }
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card bg-dark-el dark-text shadow-lg pt-2" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
      <h5 class="mb-3 text-info">
        <i class="fa-solid fa-building-shield me-2"></i>
        {{"adminPanel.insurance_companies" | translate}}
      </h5>
      <ol class="list-group list-group-numbered">
        @for (item of InsuracneCompaniesPharmacy(); track $index) {
        <li class="list-group-item d-flex justify-content-between align-items-center  rounded mb-2 shadow-sm">
          <div class="d-flex align-items-center gap-3">
            <i class="fa-solid fa-shield-check text-success fs-5"></i>
            <span class="fw-bold text-dark">{{ item.name }}</span>
            <img [src]="item.logo" width="50" height="50" alt="Logo" class="rounded-circle border border-info">
          </div>
          <button class="btn btn-outline-danger btn-sm" (click)="removeInsuranceCompanyFromPharmacy(item.pivot.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </li>
        }
      </ol>
    </div>
  </div>
  <div class="col-lg-6">
    <p-toast />
    <div class="card bg-dark-e l dark-text shadow-lg ">
      <div class="card-body">
        <form class="row" [formGroup]="addInsuranceCompanyToPharmcyForm"
          (ngSubmit)="addInsuranceCompanyToPharmcy(addInsuranceCompanyToPharmcyForm)"
          [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <div class="row">
            <div class="col-md-12 p-2">
              <label for="InsuracneCompany">{{ 'adminPanel.insurance-companies' | translate }}</label>
              <select name="InsuracneCompany" multiple formControlName="insurance_company_id" id="InsuracneCompany"
                class="form-control mb-1">
                @for (item of InsuracneCompanies; track $index) {
                <option value="{{ item.id }}">{{ item.name }}</option>
                }
              </select>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-info my-1" [disabled]="addInsuranceCompanyToPharmcyForm.invalid">{{
              'adminPanel.submit' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End pharmacy Show -->