<!-- Start pharmacy Show -->
<div class="container ">
  <div class="row my-4">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <div class="card border border-0 shadow p-5">
        <img [src]="pharmacy.image" class="w-100" alt="pharmacy Image">
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="card border border-0 shadow p-4">
        <h3 class="fs-4">Title : <span>{{ pharmacy.title}}</span></h3>
        <hr>
        <h5>Service : <span>{{ pharmacy.service }}</span></h5>
        <hr>
        <h5>Phone : {{ pharmacy.phone }}</h5>
        <hr>
        <h5>Address : {{ pharmacy.address }}</h5>
        <hr>
        <h5>Location In Map : <a (click)="showInMap(pharmacy.locationUrl)"><i
              class="bi bi-geo-alt text-warning"></i></a></h5>
        <hr>
        @if (pharmacy.deliveryOption == 1 ) {
        <h5>Delivery Option : Avaliable</h5>
        }@else {
        <h5>Delivery Option : Not Avaliable</h5>
        }
        <hr />
        @if (pharmacy.insurence == 1 ) {
        <h5>Insurence : Avaliable</h5>
        }@else {
        <h5>Insurence : Not Avaliable</h5>
        }
        <hr>
        <h5>Start At {{ pharmacy.start_at | date:'short' }}</h5>
        <hr>
        <h5>End At {{ pharmacy.end_at | date:'short' }}</h5>
      </div>
    </div>
  </div>
  <button (click)="back()" class="btn btn-outline-primary me-auto py-1 d-flex align-items-center d-block"> <i
      class="bi bi-arrow-left fs-6"></i>
    Back</button>
</div>
<!-- End pharmacy Show -->