<div class="card-who-are-we bg-dark-el" data-aos="fade-up" data-aos-delay="500">
  <h2>من نحن</h2>
  <p class="dark-text">MediCare هي منصتك الموثوقة للحصول على معلومات طبية دقيقة وشاملة حول الأطباء، العيادات، المستشفيات، المراكز
    الصحية،
    الصيدليات، والمعامل. نحن نقدم لك مواعيد حجز مريحة لكل دكتور مع إمكانية الاستفادة من العروض الخاصة التي يقدمها
    الأطباء.</p>
  <p class="dark-text">نحن نقدم أيضًا خدمات توصيل المرضى إلى العيادات والمستشفيات بكل سهولة، بالإضافة إلى حلول تكنولوجية مبتكرة باستخدام
    الذكاء
    الاصطناعي لدعم وتحسين تجربة الرعاية الصحية. نركز في MediCare على توفير أفضل خدمة للمواطنين في محافظة سوهاج، ونتطلع
    إلى
    التوسع في باقي محافظات مصر لتقديم هذه الخدمات لجميع أهلنا في مختلف المناطق.</p>
  <p class="dark-text">هدفنا هو تسهيل وصول المرضى إلى الرعاية الصحية الموثوقة، وتحقيق أكبر قدر من الفائدة لجميع المستخدمين من خلال منصة
    واحدة
    موثوقة ومتكاملة.</p>
  <p><a href="" class="text-info">اتصل بنا</a></p>
  <p class="dark-text">لأي استفسار أو لمزيد من المعلومات حول خدماتنا، لا تتردد في التواصل معنا.</p>
</div>
