.card-who-are-we{
  background-color: #fbfbfb;
  padding: 15px;
}
.card-who-are-we h2{
  font-size: 32px;
  font-weight: 800;
  padding: 12px 0px;
  color: var(--main-color);
  font-family:  var(--arabic-font)
}

.card-who-are-we p{
  font-size: 20px;
  font-weight: 500;
  color: var(--second-color);
  font-family: var(--arabic-font)
}
