<!-- Start Add New delivery service -->
<div class="pagetitle"  [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
  <h1>{{ 'adminPanel.delivery_services_edit' | translate }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin-mediCare-1245">{{ 'adminPanel.dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item dark-text">{{ 'adminPanel.edit' | translate }}</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <p-toast />
      <div class="card bg-dark-el dark-text p-4">
        <div class="card-body">
          <form class="row" [formGroup]="editDeliveryServiceForm"
            (ngSubmit)=" editDeliveryService( editDeliveryServiceForm)"  [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
            <div class="col-12">
              <label for="name" class="form-label">{{ 'adminPanel.title' | translate }}</label>
              <input type="text" formControlName="name"
                [ngClass]="{'is-invalid':(editDeliveryServiceForm .controls.name.touched && editDeliveryServiceForm .controls.name) }"
                class="form-control" id="name">
            </div>
            <div class="col-12">
              <label for="description" class="form-label">{{ 'adminPanel.description' | translate }}</label>
              <input type="text" formControlName="description"
                [ngClass]="{'is-invalid':(editDeliveryServiceForm.controls.description.touched && editDeliveryServiceForm.controls.description.errors) }"
                class="form-control" id="description">
            </div>
            <div class="col-12">
              <label for="app-link" class="form-label">{{ 'adminPanel.appLink' | translate }}</label>
              <input type="text" formControlName="app_link"
                [ngClass]="{'is-invalid':(editDeliveryServiceForm.controls.app_link.touched && editDeliveryServiceForm.controls.app_link.errors) }"
                class="form-control" class="form-control" id="app-link">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-2" [disabled]="editDeliveryServiceForm.invalid">{{
                'adminPanel.submit' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
