<footer class="footer text-info border  border-info py-4">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-sm-6 col-xl-3 text-center mb-2 my-sm-2">
        <h5 class="fw-bold">MediCare</h5>
        <p>
          {{"footer.medicareApp"| translate}}
        </p>
        <img src="./images/medicare-app.svg" class="w-25" alt="">
        <!-- <div class="d-flex justify-content-center my-2 social-icons">
          <a href="#" target="_blank" class="text-decoration-none me-2">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="text-decoration-none">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          <a href="#" target="_blank" class="text-decoration-none">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </div> -->
      </div>
      <div class="col-sm-6 col-xl-3 text-center mb-2 my-sm-2">
        <h5 class="fw-bold" style="direction:rtl">{{"footer.NeedHelp?"|translate}}</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/about-us/contact">{{"footer.contactUs"| translate}}</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-xl-3 text-center mb-2 my-sm-2">
        <h5 class="fw-bold">{{"footer.search"| translate}}</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#departments"> {{"footer.medicalDepartments"| translate}}</a>
          </li>
          <li class="mb-2">
            <a routerLink="/all/pharmacies">{{"footer.Pharmacies"| translate}}</a>
          </li>
          <li>
            <a routerLink="/all/laboratories">{{"footer.laboratories"| translate}}</a>
          </li>
          <li>
            <a routerLink="/all/deliveryServices">{{"footer.deliveryServices"| translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-xl-3 text-center mb-2 my-sm-2">
        <h5 class="fw-bold" style="direction:rtl">معلومات عن Medicare</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/about-us/">{{"footer.whoAre"|translate}}</a></li>
          <li><a routerLink="/about-us/our-mentor">{{"footer.OurSupervisor"|translate}}</a></li>
          <li><a routerLink="/about-us/our-team"> {{"footer.team"|translate}}</a></li>
          <li><a routerLink="/about-us/our-ai-services">{{"footer.OurAIServices"|translate}}</a></li>
          <li><a routerLink="/about-us/our-blogs">{{"footer.OurBlog"|translate}}</a></li>
        </ul>
      </div>

    </div>
    <hr class="border-info">
    <p class="text-center mb-0">{{"footer.copyright"| translate}} <span class="fw-bolder">MediCare</span></p>
  </div>
</footer>
