<footer class="footer bg-light text-info border  border-info py-4">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4 text-center mb-4">
        <h5 class="fw-bold">MediaCare</h5>
        <p>
          تطبيق الرعاية الطبية الأفضل
        </p>
        <img src="app.svg" class="w-25" alt="">
      </div>
      <div class="col-md-4 text-center mb-4">
        <h5 class="fw-bold">معلومات</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-info text-decoration-none">من نحن</a></li>
          <li><a href="#" class="text-info text-decoration-none">خدماتنا</a></li>
          <li><a href="#" class="text-info text-decoration-none">اتصل بنا</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center mb-4">
        <h5 class="fw-bold">تواصل معنا</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="fas fa-map-marker-alt me-2"></i> Lorem ipsum dolor sit amet consectetur.
          </li>
          <li class="mb-2">
            <i class="fas fa-envelope me-2 "></i> hellocom
          </li>
          <li>
            <i class="fas fa-phone me-2"></i> 01124052354
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-info">
    <p class="text-center mb-0">جميع الحقوق محفوظة &copy; 2024 <span class="fw-bolder">MediaCare</span></p>
  </div>
</footer>
