<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- Department Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/departments">{{ 'adminPanel.departments_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-house-medical"></i>
              </div>
              <div class="ps-3">
                <h6>{{ departmentsCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Doctors Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/doctors">{{ 'adminPanel.doctors_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-user-doctor"></i>
              </div>
              <div class="ps-3">
                <h6>{{ doctorsCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pharmacies Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/pharmacies">{{ 'adminPanel.pharmacies_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-prescription-bottle-medical"></i>
              </div>
              <div class="ps-3">
                <h6>{{ pahramaciesCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Laboratories Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/laboratories">{{ 'adminPanel.laboratories_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-vials"></i>
              </div>
              <div class="ps-3">
                <h6>{{ laboratoriesCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Care Centers Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/care_centers">{{ 'adminPanel.care_centers_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-hands-helping"></i>
              </div>
              <div class="ps-3">
                <h6>{{ careCentersCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hospitals Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/hospitals">{{ 'adminPanel.hospitals_today' | translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-hospital"></i>
              </div>
              <div class="ps-3">
                <h6>{{ hospitalsCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Chain Pharmacies Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/chain_pharmacies">{{ 'adminPanel.chain_pharmacies_today' | translate
                }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-prescription-bottle"></i>
              </div>
              <div class="ps-3">
                <h6>{{ chainPharamciesCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Chain Laboratories Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/admin-mediCare-1245/chain_laboratories">{{ 'adminPanel.chain_laboratories_today' |
                translate }}</a>
            </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-flask"></i>
              </div>
              <div class="ps-3">
                <h6>{{ chainLaboratoriesCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Doctor Blogs Count -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">{{ 'adminPanel.doctor_blogs_today' |
              translate }}</h5>
            <div class="d-flex align-items-center gap-3">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-blog fs-3"></i>
              </div>
              <h6 class="mb-0">{{ doctorBlogsCount }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>