i {
  color: var(--main-color);
  font-size: 1.8rem;
}

.info-card {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.info-card:hover {
  transform: scale(1.05);
}

.card-title a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}

.card-title a:hover {
  color: var(--second-color);
}

.card-icon {
  width: 60px;
  height: 60px;
  background: var(--main-color-light);
  font-size: 24px;
  color: var(--main-color);
}
