<section class="pt-3 mt-md-5">
  <div class="container">
    <h3 class="text-center mb-4 text-secondary fw-bolder">{{"forgotPassword.title"|translate}}</h3>
    <div class="row">
      <div class="col-md-8 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1000">
        <h4 class="text-info pb-1" [ngClass]="{'text-right': isRtl, 'text-left': !isRtl}">
          {{"forgotPassword.reset"|translate}}</h4>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" [ngStyle]="{'direction': isRtl ? 'rtl' : 'ltr'}">
          <div class="form-floating mb-3">
            <input [ngClass]="{
              'is-valid': !forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.dirty),
              'is-invalid': forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.dirty)
            }" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
              formControlName="email">
            @if (forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched ||
            forgotForm.get('email')?.dirty)) {
            <div class="alert alert-danger text-center w-50 mx-auto rounded-4">
              @if (forgotForm.get('email')?.getError('required')) {
              <p class="m-0">{{"login.emailErrorReq"|translate}}</p>
              }
              @if (forgotForm.get('email')?.getError('email')) {
              <p class="m-0">{{"login.emailErrorVal"|translate}}</p>
              }
            </div>
            }
            <label for="floatingEmail"
              [ngClass]="{'text-right': isRtl, 'text-left': !isRtl}">{{"login.email"|translate}}</label>
          </div>
          <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-info text-white w-100">
            {{"forgotPassword.submit"|translate}}
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
          @if(msgErr) {
          <p class="alert alert-danger w-75 m-auto mt-3 text-center" style="direction:rtl">{{msgErr}}</p>
          }
          @if(msgSuccess) {
          <p class="alert alert-info text-center w-50 m-auto mt-3 text-center" style="direction:rtl">{{msgSuccess}}</p>
          }
        </form>
      </div>
      <div class="col-md-4 my-3 order-1 order-lg-2" data-aos="fade-left" data-aos-duration="1000">
        <div class="d-flex align-content-center h-100">
          <img src="./images/registerPhoto.svg" alt="forgotPasswordPhoto" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>