<!-- Start delivery-service Section -->
<section id="Laboratory">
  <div class="container text-center">
    <h2 class="head-title">التوصيل</h2>
  </div>
  <div class="container my-5">
    <div class="row">

      <div class="col-md-6">
        <a routerLink="/deliveryServices"
          ><img src="driver.jpg" alt="صورة خدمه توصيل" class="img-fluid"
        /></a>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3>
          مع <span>MediCare</span>،خدمة توصيل المرضى حيث يقوم سائقونا المحترفون
          بنقل المرضى من وإلى المرافق الطبية بكل راحة وأمان. سواء كنت بحاجة إلى
          زيارة الطبيب أو إجراء الفحوصات، نحن هنا لتلبية احتياجاتك بأفضل طريقة
          ممكنة.
        </h3>
        <a
          routerLink="/deliveryServices"
          class="btn btn-outline-info d-block fs-5 mx-auto py-2 px-5 d-flex align-items-center rounded-4"
          ><i class="bi bi-arrow-left px-2"></i> خدمات التوصيل</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End delivery-service Section -->
